
<p><label>Procurar Análise</label> <input class="inputPainelAdmin" type="text" name="pesquisarUser" id="pesquisaUser"><input class="inputPainelAdmin" type="submit" value="Pesquisar"></p>
                <section class="fundoBranco h-50">
                
                
                </section>
                <p><label>Análises Bloqueadas</label></p>
                <section class="fundoBranco h-30">

                </section>