<link rel="stylesheet" href="/css/jogos/cadastraJogo.css">


<form class="pai coluna formCadastraJogo fundoBranco" action="/jogos/cadastrar" method="POST">
    <label for="nomeJogo">Nome do Jogo:</label>
    <input class="camposCadastraJogo" type="text" id="nomeJogo"name="nomeJogo" autocomplete="off" required/>
    <label for="siteJogo">Site Oficial:</label>
    <input class="camposCadastraJogo" type="text" id="siteJogo"name="siteJogo" autocomplete="off" required/>
    <label for="publisherJogo">Desenvolvedora:</label>
    <input class="camposCadastraJogo" type="text" id="publisherJogo"name="publisherJogo" autocomplete="off" required/>
    <label for="dataJogo">Data de Lançamento:</label>
    <input class="camposCadastraJogo" type="text" id="dataJogo"name="dataJogo" autocomplete="off" required/>
    <label for="plataformaJogo">Plataformas:</label>
    <input class="camposCadastraJogo" type="text" id="plataformaJogo"name="plataformaJogo" autocomplete="off" required/>
    <label for="sinopseJogo">Sinopse:</label>
    <textarea class="camposCadastraJogo" id="sinopseJogo" name="sinopseJogo" autocomplete="off" required>Sinopse</textarea>
    <label for="imgJogo">URL de Imagem do Jogo:</label>
    <input class="camposCadastraJogo" type="text" id="imgJogo"name="imgJogo" autocomplete="off" required/>
    <input class="camposCadastraJogo submitCadastraJogo" type="submit" value="Cadastrar"/>
</form> 