<link rel="stylesheet" href="/css/tema.css">
<link rel="stylesheet" href="/css/adm/painelAdmin.css"> 

<section class="pai coluna">
<form class="pai coluna fundoBranco" id="jogo2Form" action="/gamepadm/painel/jogo/2" method="POST">
    <p><label for="genero">Novo Gênero</label>
    <input type="text" id="genero" name="nome" autocomplete="off" placeholder="Novo Gênero" required/></p>
    <p><input id="jogo2Submit" type="submit" value="Criar"/></p>
</form>

<section class="fundoBranco jogo2-3MaxH">
    <table class="tablePainelAdmin">
    <tr> 
        <th>Id</th>
        <th>Gênero</th>
        <th>Cadastrado em</th>
        <th>Ações</th>
    </tr>
    
    <%if(generos){%>
    <%for(let i = 0; i < generos.length; i++){%>
    <tr>
        <td><%=generos[i].id%></td>
        <td><%=generos[i].nome%></td>
        <td><%=generos[i].createdAt%></td>
        <td><a href="/gamepadm/painel/jogo/2/<%=generos[i].id%>"><img src="/img/adm/deletar.png" alt="Deletar"></a> </td>
    </tr>
    <%}%>
    <%}%>

    </table>
</section>
</section>