<link rel="stylesheet" href="/css/users/cadastrar.css">



<form action="/registrar" method="POST" class="noticiaForm">
    <h2 class="h2">Cadastrar Noticias</h2>
    <div class="field">
        <label class="label" for="titulo">Titulo da noticia:</label>
        <div class="control">
            <input class="titulo" type="text" name="titulo" autocomplete="off" required/>
        </div>
        <label class="label" for="titulo">SubTitulo da noticia:</label>
        <div class="control">
            <input class="titulo" type="text" name="titulo" autocomplete="off" required/>
        </div>
    </div>
    <div class="field">
        <label class="label" for="noticia">Noticia:</label>
        <div class="control">
            <textarea class="textarea" name="noticia" required></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label" for="img">Imagens:</label>
        <div class="control">
            <input type="file" name="img" >
            <img src="" >
        </div>
    </div>

    <a href=""><input class="button" type="submit" value="Criar"/></a>
