<link rel="stylesheet" href="/css/users/cadastrar.css">

<div id="error">
    
</div>
<div class="fundoBranco centralizarPainelAdmin">
    <form>
        <div>
            <label for="email" class="fonteGeral">E-mail: </label>
            <input type="email" name="email" id="email" class="inputRegistrar" required >
        </div>
        <div>
            <label for="usuario" class="fonteGeral">Usuário: </label>
            <input type="text" name="usuario" id="usuario" class="inputRegistrar" required >      
        </div>
        <div>
            <label for="senha" class="fonteGeral">Senha: </label>
            <input type="password" name="senha" id="senha" class="inputRegistrar" required> 
        </div>
        <div>
            <label for="resenha" class="fonteGeral">Re-senha </label>
            <input type="password" name="resenha" id="resenha" class="inputRegistrar" required>
        </div>
        <div>
            <input type="submit" value="Criar Conta" class="cad-submit" >
        </div>
       
</form>

</div>

<script src="/js/adm/admUsuario/admUsuario.js"></script>