<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/paginaUsuario.css">

        <title>Usuario</title>
    </head>

    <body>
        <header class="user-header">
            <%- include('../home/header.ejs'); %>
        </header>

        <aside class="containerPerfil">

            <%- include('../perfil/usuario-include.ejs'); %>
            
        </aside>

        <footer class="user-footer">
            <%- include('../home/footer.ejs'); %>
        </footer>
        
        
    </body>

</html>