<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jogos/duvidas.css">
    <link rel="stylesheet" href="/css/tema.css">
    <title>Duvidas</title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <main class="main">
        <div class="flex">
            <div class="pesquisarDuvida">
                <h2>Procure por uma duvida</h2>
                <div class="pesquisa-duvida">
                    <input type="search" class="txt-pesquisas" placeholder="Duvidas...." />
                </div>
            </div>
            <hr>
            <div class="faqTitulo">
                <span>Como cadastrar um jogo?</span>
                <span>botão</span><!-- before -->
            </div>
            <div class="faqDuvidas">
                <p> 
                    <li><strong>Primeiro</strong></li>
                    <li>Faca o login</li> 
                </p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>

        </div>
    </main>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>
</html>