<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jogos/duvidas.css">
    <link rel="stylesheet" href="/css/tema.css">
    <title>Duvidas</title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <main class="main">
        <div class="pesquisarDuvida">
            <h2>Procure por uma duvida</h2>
            <div class="pesquisa-duvida">
                <form action="/jogos/duvidas" class="formPesquisar" method="GET">
                    <input type="search" class="txt-pesquisas" placeholder="Duvidas...." />
                </form>
            </div>
        </div>

        <hr>
        <div>
            <div class="espacamento">
                <div class="faqTitulo">
                    <h2>Como avaliar um jogo ?</h2>
                    <img class="arrow" src="/img/arrow.png">
                </div>
                <div class="faqDuvidas">
                    <p> 
                        <strong>1º</strong> Faca o login
                    </p>
                    <p>
                        <strong>2º</strong> Escolha um jogo para a analisar
                    </p>
                    <p>
                        <strong>3º</strong> Clique em "Adicionar Analise" no menu lateral
                    </p>
                    <p>
                        <strong>4º</strong> Coloque um titulo, uma descrição e uma nota e envie
                    </p>
                    <p>
                        <strong>5º</strong> Analise feita.
                    </p>
                </div>
            </div>
            <div class="espacamento">
                <div class="faqTitulo2">
                    <h2>Como alterar a foto de perfil ?</h2>
                    <img class="arrow" src="/img/arrow.png">
                </div>
                <div class="faqDuvidas2">
                    <p> 
                        <strong>1º</strong> Faca o login
                    </p>
                    <p>
                        <strong>2º</strong> Entre na pagina de usuarios
                    </p>
                    <p>
                        <strong>3º</strong> Clique na engrenagem ao lado da foto
                    </p>
                    <p>
                        <strong>4º</strong> Coloque um novo link para a imagem e salve
                    </p>
                    <p>
                        <strong>5º</strong> Imagem alterada.
                    </p>
                </div>
            </div>
            <div class="espacamento">
                <div class="faqTitulo">
                    <h2>Como trocar a senha ?</h2>
                    <img class="arrow" src="/img/arrow.png">
                </div>
                <div class="faqDuvidas">
                    <p> 
                        <strong>1º</strong> Saia da sua conta
                    </p>
                    <p>
                        <strong>2º</strong> Clique em entrar
                    </p>
                    <p>
                        <strong>3º</strong> Clique em esqueceu senha
                    </p>
                    <p>
                        <strong>4º</strong> Digite uma nova senha e salve
                    </p>
                    <p>
                        <strong>5º</strong> Senha alterada
                    </p>
                </div>
            </div>
            <div class="espacamento">
                <div class="faqTitulo">
                    <h2>Como adicionar uma midia ?</h2>
                    <img class="arrow" src="/img/arrow.png">
                </div>
                <div class="faqDuvidas">
                    <p> 
                        <strong>1º</strong> Faca o login
                    </p>
                    <p>
                        <strong>2º</strong> Entre no seu perfil
                    </p>
                    <p>
                        <strong>3º</strong> Clique em "Midias"
                    </p>
                    <p>
                        <strong>4º</strong> No canto inferior esquerdo tera um botão para adicionar
                    </p>
                    <p>
                        <strong>5º</strong> Escolha se quer Imagem ou Video
                    </p>
                    <p>
                        <strong>6º</strong> Midia adicionada.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
    <script src="/js/index/duvidas.js"></script>
</body>
</html>