<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/histDePreco.css">
    <title>Histórico de Preços</title>
</head>

<body>
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="containerHistDePreco pai">
        <main class="mainHistDePreco pai coluna">
            <section class="fundoBranco" id="tituloHistDePreco">
                <h1>Nome do Jogo</h1>
            </section>
            <section class="fundoBranco" id="quadroHistDePreco">
                <img src="/img/img jogos/exemploHistDePreco.PNG" id="exemploHistDePreco">
            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>
    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>