<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/menuJogos.css">
    <title>Perfil do Jogo</title>
</head>

<body >
<container class="asideMenuJogos">
   <ul class="fundoBranco capaMenuJogos">
        <img src="<%=jogo.capa%>" />
        
    </ul>
    <ul>
        <a href="/jogos/analise/<%=jogo.id%>"><li class="fundoBranco">Análises</li></a>
        <a href="/jogos/midia/<%=jogo.id%>"><li class="fundoBranco">Mídias</li></a>
        <%if(usuario){%> <a href="/users/meusJogos"><li class="fundoBranco">Adicionar à Biblioteca</li></a> <% } %> 
        <%if(usuario){%> <a href="/users/meusJogos"><li class="fundoBranco">Adicionar à Lista de Desejos</li></a> <% } %> 
        <%if(usuario){%> <a href="/jogos/cadastra"><li class="fundoBranco">Cadastrar Novo Jogo</li></a> <% } %> 
    </ul>
    </container>
</body>
<script>
let aux = 0;
for(let analise of analises){
        aux+=analise.nota
    }
//<li class="media"><h4>Avaliação Média:</h4><img src="/img/nota<%=Math.round(aux/analises.length) %>.png" width="70px" height="70px"></li>

</script>
</html>