<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/menuJogos.css">
    <title>Perfil do Jogo</title>
</head>

<body >
<container class="asideMenuJogos">
    <ul class="fundoBranco compreAgora">
        <h3>Compre Agora</h3><br>           
        <% for(let i = 1; i < 6; i++){ %>
        <a href="#"><li>Loja 0<%= i %> - R$ xx,xx</li></a>
        <% } %>
        
    </ul>
    <ul>
        <a href="/jogos/historico"><li class="fundoBranco">Histórico de Preços</li></a>
        <a href="/jogos/analise"><li class="fundoBranco">Análises</li></a>
        <a href="/jogos/midia"><li class="fundoBranco">Mídias</li></a>
        <a href="/users/meusJogos"><li class="fundoBranco">Adicionar à Biblioteca</li></a>
        <a href="/users/meusJogos"><li class="fundoBranco">Adicionar à Lista de Desejos</li></a>
    </ul>
</container>
</body>
</html>