<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/midiaJogos.css">
    <title>Midias</title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerMidiaJogos">
        <main class="mainMidiaJogos pai coluna"> 
            <section class="fundoBranco" id="tituloMidiaJogos">
                <h1>Nome do Jogo</h1>
            </section>

            <section class="fundoBranco pai" id="galeriaImagensMidiaJogos">
                <a target="_blank" href="/img/img jogos/exemploMidia01.jpg">
                    <img src="/img/img jogos/exemploMidia01.jpg" alt="Exemplo 01" class="imagemGaleriaMidiaJogos">
                </a>

                <a target="_blank" href="/img/img jogos/exemploMidia02.jpg">
                    <img src="/img/img jogos/exemploMidia02.jpg" alt="Exemplo 02" class="imagemGaleriaMidiaJogos">
                </a>
                <a target="_blank" href="/img/img jogos/exemploMidia01.jpg">
                    <img src="/img/img jogos/exemploMidia01.jpg" alt="Exemplo 01" class="imagemGaleriaMidiaJogos">
                </a>

                <a target="_blank" href="/img/img jogos/exemploMidia02.jpg">
                    <img src="/img/img jogos/exemploMidia02.jpg" alt="Exemplo 02" class="imagemGaleriaMidiaJogos">
                </a>
                <a target="_blank" href="/img/img jogos/exemploMidia01.jpg">
                    <img src="/img/img jogos/exemploMidia01.jpg" alt="Exemplo 01" class="imagemGaleriaMidiaJogos">
                </a>

                <a target="_blank" href="/img/img jogos/exemploMidia02.jpg">
                    <img src="/img/img jogos/exemploMidia02.jpg" alt="Exemplo 02" class="imagemGaleriaMidiaJogos">
                </a>


            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>