<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/perfilDeJogos.css">
    <title>Perfil do Jogo</title>
</head>

<body>
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container>
        <main>
            <section class="fundoBranco" id="titulo">
                <h1>Nome do Jogo</h1>
            </section>
            <section class="pai  h-33">
                <figure class="fundoBranco">
                    <img src="/img/avatar.png" />
                </figure>
                <section id="descricao">
                    <article class="fundoVerde" id="informacoes">
                        <p>Oficial:</p>
                        <p>Publisher: </p>
                        <p>Data de Lançamento:</p>
                        <p>Plataformas:</p>
                    </article>
                    <article class="fundoBranco" id="sinopse">
                        Sinopse
                    </article>
                </section>
            </section>
            <section class="fundoBranco h-33">
                Analises
            </section>
            <section class="fundoBranco h-33">
                Avaliações
            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>