<div class="modalError">

    <div class="caixaError">
    
        <div class="cxImg">
                <img src=""alt="" class="imgError">
        </div>
        <div class="messageError">
                <span class="error">Error</span>
        </div>
    
        <div class="buttonVoltar"><button id="buttonVoltar">Ok</button></div>
            
    
    </div>

<link rel="stylesheet" href="/css/error.css">
</div>
    