<div class="modalError">

    <div class="caixaError">
    
        <div class="cxImg">
                <img src="https://img-premium.flaticon.com/png/512/2731/premium/2731804.png?token=exp=1627253501~hmac=daec521e07f82c6f2afd3851a8fde1c9" alt="" class="imgError">
        </div>
        <div class="messageError">
                <span class="error">Error</span>
        </div>
    
        <div class="buttonVoltar"><button id="buttonVoltar">Ok</button></div>
            
    
    </div>

<link rel="stylesheet" href="/css/error.css">
</div>
    