<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/section-1.css">
    <link rel="stylesheet" href="/css/home/footer.css">
</head>
<body>
    <header>
        <%- include('home/header.ejs') %> 
    </header>
    
        <%- include('home/section-1.ejs') %> 
    
    <footer>
        <%- include('home/footer.ejs') %> 
    </footer>
</body>
</html>