<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tema.css">
    <title>index</title>  
</head>
<body>
    <iframe src="header.html" title="iFrameCabecalho" class="iframeCabecalho"></iframe>
    <iframe src="section-1.html" style="height:125vh;width:100%;border:none;" title="IframeMain"></iframe>
    <iframe src="footer.html"title="IframeRodape" class="iframeRodape"></iframe>
</body>
</html>