<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de login</title>
    <style>
        body{
            background-color: white;
            margin: 0;
            padding: 0;

        }

        .form{
            width: 430px;
            margin: auto;
            padding-top: 170px;
        }
        .card{
            box-shadow: 1px 1px 5px #ccc;
            background-color: white;
            padding: 30px;

        }
        .card-group{
            margin-bottom: 10px;
        }
        .card-top > 
            text-align: center;
            
            
            
        .login{
            text-align: center;
            color: black;
        }    

        .card-group > label{
            font-size: 20px;
            width: 100%;
            color: black;
            display: block;
        
        }
        .card-group > input{
            width: 97%;
            font-size: 140%;
            

        }
        .card-group > button{
            background-color: rgb(34, 214, 175);
            width: 50%;
            font-size: large;
            margin-left: 25%;
            margin-top: 8%;
        }
        .card-top{
            color: black;
            text-align: center;
        }
        
        .cabecalho{
            height: 70px;
            background-color: green;
            width: 100%;

        }
        
    </style>
    


</head>
<body>
    <header class="cabecalho"></header>
    <form class="form" action="form">
    <div class="card">
        <div class="card-top">
            <h1 class="login">LOGIN</h1>    
        </div>
        <div class="card-group">
            <label>Usuario</label>
            <input type="text" name="usuario">

        </div>
        <div class="card-group">
            <label>Senha</label>
            <input type="password" name="usuario">

        </div>
        <div class="card-group">
            <button type="submit">entrar</button>

        </div>
        
    </div>
    </form>

    

    
</body>
</html>