<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tema.css">
    <link rel="stylesheet" href="css/painelAdmin.css">
    <title>Administração</title>
</head>
<body class="fundoCinzaClaro">
    <header>Painel de Administração</header>
    <div class="pai">        
        <aside class="fundoCinzaEscuro">
            <ul>
                <a href="#"><li>-Usuários</li></a>
                <ul class="acessos">
                    <a href="#"><li>Editar</li></a>
                    <a href="#"><li class="ativo">Bloquear</li></a>
                    <a href="#"><li>Apagar</li></a>
                    <a href="#"><li>Liberar</li></a>
                </ul>
                <a href="#"><li>+Jogos</li></a>
                <a href="#"><li>+Análise</li></a>
                <a href="#"><li>+Sistema</li></a>
            </ul>
        </aside>
        <main class="fundoCinzaEscuro">
            <p><label>Pesquisar Usuário</label> <input type="text" name="pesquisarUser" id="pesquisaUser"><input type="submit" value="Pesquisar"></p>
            <section class="fundoCinzaClaro h-50">

            </section>
            <p><label>Usuários Bloqueados</label></p>
            <section class="fundoCinzaClaro h-30">

            </section>
        </main>
    </div>
</body>
</html>