<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tema.css">
    <link rel="stylesheet" href="css/perfilDeJogos.css">
    <title>Perfil do Jogo</title>
</head>

<body>
    <header>
        <iframe src="header.html" title="iFrameCabecalho" class="iframeCabecalho"></iframe>
    </header>
    <container>
        <main>
            <section class="fundoBranco" id="titulo">
                <h1>Nome do Jogo</h1>
            </section>
            <section class="pai  h-33">
                <figure class="fundoBranco">
                    <img src="resouces/avatar.png" />
                </figure>
                <section id="descricao">
                    <article class="fundoVerde" id="informacoes">
                        <p>Oficial:</p>
                        <p>Publisher: </p>
                        <p>Data de Lançamento:</p>
                        <p>Plataformas:</p>
                    </article>
                    <article class="fundoBranco" id="sinopse">
                        Sinopse
                    </article>
                </section>
            </section>
            <section class="fundoBranco h-33">
                Analises
            </section>
            <section class="fundoBranco h-33">
                Avaliações
            </section>
        </main>
        <aside class="fundoVerde">
            <ul class="fundoBranco compreAgora">
                <h3>Compre Agora</h3><br>           
                <a href="#"><li>Loja 01 - R$ xx,xx</li></a>
                <a href="#"><li>Loja 02 - R$ xx,xx</li></a>
                <a href="#"><li>Loja 03 - R$ xx,xx</li></a>
                <a href="#"><li>Loja 04 - R$ xx,xx</li></a>
                <a href="#"><li>Loja 05 - R$ xx,xx</li></a>
            </ul>
            <ul>
                <a href="#"><li class="fundoBranco">Histórico de Preços</li></a>
                <a href="#"><li class="fundoBranco">Análises</li></a>
                <a href="#"><li class="fundoBranco">Midias</li></a>
                <a href="#"><li class="fundoBranco">Adicionar à Biblioteca</li></a>
                <a href="#"><li class="fundoBranco">Adicionar à Lista de Desejos</li></a>
            </ul>
        </aside>
    </container>

    <footer>
        <iframe src="footer.html" title="IframeRodape" class="iframeRodape"></iframe>
    </footer>
</body>

</html>