<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/proibido.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('./home/header.ejs'); %>
    </header>
    <aside class="a-proibido">
        <div class="imagem"><img src="/img/proibido.png" alt="">
            <span class="span">Area Proibida</span>
            <p class="plogue">você precisa<a href="/login"> ENTRAR</a></p>
        </div>
    </aside>
    <footer>
        <%- include('./home/footer.ejs'); %>
    </footer>

    
</body>

</html>