@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}

*{
    font-family:"PressStart2P";    
    margin: 0;
    padding: 0;
}
html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    background: #e6e6e6;    

}

.mainError {
    width: 40vw;
    height: 60vh;
    background-color: rgb(223, 223, 223);
    margin: 5vh auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.37);

}

.caixaImgError{
    box-sizing: border-box;
    border: 3px black solid;
    background-color: rgb(255, 0, 0);
    width: 40vw;
    height: 40vh;
    display: flex;
}
.imgError{

    width: 25%;
    height: 40%;
    margin: 8vh 37%;    
    
}
.imgError:hover{
    cursor: pointer;
    width: 30%;
    height: 45%;
    margin: 7vh 34%;    
    
}
.textError{
    
    box-sizing: border-box;
    padding-top: 2vh;
    width: 100%;
    height: 20vh;
    
    font-size: 20rem;
    text-align: center;
    
}
.textError a {
    display: block;
    
}
.textError button{
    border-radius: 20px;
    cursor: pointer;
    width: 15vw;
    height: 40px;
    margin-top: 30px;
}
.textError button:hover{
   
    background-color: yellow;
    cursor: pointer;
    width: 16vw;
    height: 45px;
}