<div class="cxEditar">
    <h1>EDITAR</h1>

    <form post>
        <div class="Iputs">
            <label for="" class="label-Inputs">email do usuario:</label>
            <input type="email" name="" id="" autocomplete="off">
        </div>
        <div class="Iputs">
            <label for="Email">novo nome de usuario:</label>
            <input type="text" name="Email" id="" autocomplete="off">
        </div>
        <div class="Iputs">
            <label for="">Tipo de Perfil:</label>
            <select name="" id="">
                <option value="">ADMIN</option>
                <option value="">USER</option>
            </select>>
           
        </div>
        <div class="Iputs">
            <label for="">Nova imagem do usuario:</label>
            <input type="url" name="" id="" autocomplete="off">
        </div>
        <button class="enviar">ENVIAR</button>
        <button class="cancelar" >Cancelar</button>
        
    </form>
</div>