<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/adm/loginAdmin.css">
        <title>Login</title>
    </head>
    <body class="bodyLoginAdmin">
        <div id="error"></div>              
            <aside class="login-aside">
                <div class="loginContainer">
                    <p class="loginText">LOGIN</p>
                    <div class="caixaForm">
                        <form method="POST" id='formLogin' action="/gamepadm/">
                            <div class="caixainput">
                                <p><label class="textInputErro"><%=error%></label></p> 
                                <label for="email" class="textInput">E-mail:</label>
                                <input type="email" name="email" class="caixaInput" autocomplete="off" required id='email'>
                                <label for="senha" class="textInput">Senha:</label>
                                <input type="password" name="senha" class="caixaInput" autocomplete="off" required id="senha">
                            </div>
                            <input type="submit" value="Entrar" class="inputSubmit">
                        </form>
                    </div>
                </div>
            </aside>
        <div id="error"></div>        
    </body>
</html>