.bodyPerfilAdmin{
    min-height: 100vh;
    justify-content: center;
    align-items: center
}
.inputPainelAdmin{
    margin: 0 1%;
}
.navPainelAdm{
    width: 100%;
}
.navPainelAdm ul{
    padding: 0;
    justify-content: space-around;
}
.navPainelAdm li{
    list-style: none;
    background: #9ee1e8;
    border-radius: 15px 15px 0px 0px;    
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10rem;
    padding-top: 1vh;
}
.navPainelAdm a{
    text-decoration: none;
    color: black;  
    width: 30%;  
    height: 3vh;
}
.navPainelAdm p{
    text-decoration: none;
    color: black;  
    font-size: 7rem;
}
.pai{
    display: flex
}
.coluna{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
    max-width: 50%;
}

.acessosPainelAdmin{
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.acessosPainelAdmin img{
    width: 30%;
    height: 30%;   
    vertical-align: middle;     
}
.h-50{
    height: 45vh;
}
.h-30{
    height: 25vh;
}
#headerPainelAdmin{
    height: 10vh;
    font-size: 15rem;
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
}
#conteudoPainelAdmin{
    width: 95%;
    margin: 0;    
}
#pesquisaUser{
    width: 50%;
}
#asidePainelAdmin{
    margin-top: -2px;
    margin-right: 0;
    margin-left: 0;
    border: none;    
    height: 85vh;
    font-size: 14rem;
    font-weight: 300;    
}
#asidePainelAdmin a{
    text-decoration: none;
    color: black;
}
#asidePainelAdmin li{
    list-style: none;           
}

#mainPainelAdmin{
    margin-top: -2px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    width: 80%;
    height: 85vh;
    padding: 1%;    
}
#mainPainelAdmin label{
    font-size: 10rem;
}
#mainPainelAdmin p{
    text-align: center;
}
#ativoPainelAdmin{
    background: #0e9aa7;      
}
.preencherPainelAdmin{
    flex-grow: 1;       
}
.centralizarPainelAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tablePainelAdmin{
    width: 100%;
    
}
.tablePainelAdmin th{
    font-size: 10rem;
    font-weight: 900;
    width: auto;
    border-bottom: 1px solid black;
}
.tablePainelAdmin td{
    text-align: center;
    font-size: 8rem;
    padding: 5px;
}
.tablePainelAdmin td a{
    text-decoration: none;
    color: black;
}
.tablePainelAdmin td a img{
    width: 17rem;
    vertical-align: middle;  
}

.jogo2-3MaxH{
    max-height: 68vh;
    overflow: scroll;
}
.submitPainelAdmin{
    color: white;
    height: 4vh;
    min-height: 4vh;
    width: 10%;
    background: #0E9AA7;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.jogoForm{
    text-align: center;    
}
.jogoForm input, label, textarea{
    margin-top: 5px;
    font-family: PressStart2P;
    font-size: 10rem;
    text-align: center;
    width: 50%;
    max-width: 50%;   
    min-width: 50%; 
    min-height: 15rem;
    resize: none;
    overflow: hidden;
}

.jogoForm input[type = checkbox], .labelCheckbox {
    width: fit-content;
    max-width: fit-content;   
    min-width: fit-content;    
}
.labelCheckbox{
    margin-right: 5px;
}
.MaxH100{
    max-height: 100%;
    overflow: scroll;
}

/* ====jogo3====*/

.jogo3EditForm{
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    width: 100%;
    
}
.jogo3EditForm p{
    width: 100%;
}
.jogo3section{
    height: inherit;
    padding: 2%;      
}

/*====jogo2====*/

.jogo2EditForm{
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    width: 100%;
    
}
.jogo2EditForm p{
    width: 100%;
}
.jogo2section{
    height: inherit;
    padding: 2%;      
}

/* ====jogo1====*/

.jogo1MaxH60{
    max-height: 60%;
    overflow: scroll;
}
.jogo1MaxH35{
    max-height: 35%;
    overflow: scroll;
}

/* ====jogo0====*/
.jogo0Form{
    align-items: center;
}

/* === NOTICIA ===*/
.noticiaForm{
    background: white;
    text-align: center;
    padding: 5px;
    font-family: PressStart2P;
}
.CadastroH2{
    font-size: 20px;
    text-align: center;
}
.NoticiaTextarea{
    width: 620px;
    height: 200px;
    text-align:left;
    padding:5px;
}
.tituloNoticia{
    width: 620px;
    font-family: PressStart2P;
}
.control{
    padding-top: 10px;
    padding-bottom: 10px;
}
.field{
    margin: 20px;
}
.button{
    background: #0e9aa7;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}