@font-face {

    font-family: 'Press Start 2P';
    src: url(/font/PressStart2P-Regular.ttf);
}

html{

    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    font-size: 6.25%;
    
}

body{

    margin: 0;
    border: 0;
    padding: 0;
    background: #d5d5d5;  
}

.divPai{

    
    display: flex;
   
    height: auto;
    box-sizing: border-box;

}

.areaAnalise{

    width: 100%;
    height: auto;
    
}

.usuario-include{

    width: 30%;
         
}

.analise{

    
  
    background-color: white;
    width: 80%;
    height: 25vh;
    margin: 3vh auto;
    display: flex;
    box-sizing: border-box;
    border-radius: 0 0 50px 0;
    box-shadow: 2px 4px 0.5px rgba(0, 0, 0, 0.445);
}

.imagemAnalise {

    
    height: 220px;
    width: 170px;
    margin: auto;
   
    box-sizing: border-box;
}

.titulo-Analise{

    margin: auto;    
    width: 80%;
    height: 90%;
    box-sizing: border-box;

}

.tituloA{

    background-color: rgb(137, 167, 131);
    
    height: 15%;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    font-size: 10em;
    margin: 5px;
}
.spanA{

    margin: 10px auto;
    background-color: rgb(137, 167, 131);
    
    height: 80%;
    
    box-sizing: border-box;
    border-radius:  0 0 50px 0;
    padding: 10px;
    margin: 5px;
    
    font-size: 10em;
}