@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}

html{
    box-sizing: border-box;
    font-family: "PressStart2P";
    font-size: 6.25%;
}


body{
    
    
    padding: 0;
    border: 0;
    width: 100vw;
    min-width: 350px;
    height: 110vh;
    min-height: 800px;
    background: #d5d5d5;  
    box-sizing: border-box;
}

.cad-header{
    
    height: 15vh;
    width: 100vw;

}

.cad-aside{

    display: inline;
    height: 80vh;
    min-height: 650px;
    width: 100vw;
    min-width: 360px;

}

.containerRegistrar{

 
    margin: 0 auto;
    width: 30vw;
    min-width: 360px;
    height: 60vh;
    min-height: 650px;

    border: 1px solid #0E9AA7;
    box-sizing: border-box;
    box-shadow: 0.7vw 0.5vh 1vh rgba(0, 0, 0, 0.25);
    background: #FFFFFF;

}

.fonteTopo{
    
    text-align: center;
    margin-top: 1%;
    font-size: 25em;
    color: #0E9AA7;

}

.caixaRegistro{

    
    width: 23vw;
    margin-left: 10%;
  
}

.fonteGeral{
    
    font-size: 15em;

}

.inputRegistrar{

    display:block;
    width: 23vw;
    min-width: 250px;
    height: 5vh;
    margin-bottom: 20px;
}

.inputData{

    display: block;
    height: 5vh;
    width: 10vw;
    min-width: 150px;
    max-width: 200px;
    margin-bottom: 10px;

}

.inputCheck{
    
    font-size: 10em;
    
}

.inputCheck a:hover{
    
    font-size: 1.3em;
}


.checkBox{
    
    transform: scale(2);
}

.checkBox:hover {

   transform: scale(3);
}



.redes form{
    
    width: 60vw;
    box-sizing: border-box;
   
}

.criar{
    
    font-size: 1.2em;
    width: 50vw;
    margin-top: 3vh;
    

}

.cad-submit {

    display: block;
    font-family: "PressStart2P";
    font-size: 22em;
    color: #FFFFFF;
    
    margin-top: 5vh;
    width: 23vw;
    min-width: 340px;
    height: 13vh;
    max-height: 83px;

    background-color: #0E9AA7;
    border: 0;
    box-shadow: 0.7vw 0.5vh 1vh rgba(0, 0, 0, 0.25);

}

.cad-footer {
    
    margin-top: 5vh;
    height: 15vh;
}

