@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}


html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #d5d5d5;    

}
.paiFlex{

    
    display: flex;
}



.tituloTexto{
    
    box-sizing: border-box;
    margin-left: 3%;
    font-size: 12em;
}

.meusJogos{

    
    box-sizing: border-box;
    width: 70vw;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 1%;

}

.meusJogos a {

    
    width: 10vw;
    height: 25vh;
    margin-right: 5%;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    
}

.listaDesejo{
    
    box-sizing: border-box;
    width: 70vw;
    height: 36vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 3%;

}

.listaDesejo a {

    width: 10vw;
    height: 25vh;
    margin-right: 5%;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
}


@media (max-width: 956px) and (max-height: 890px) {
    
    .paiFlex{

        display: flex;
        height: 210vh;
        /* width: 100vw; */
        
        flex-direction: column-reverse;
        
    }
}


