*{
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

@font-face {

    font-family: 'Press Start 2P';
    src: url('../resouces/PressStart2P-Regular.ttf');
}

html{

    box-sizing: border-box;
}

body {
    
    font-size: 6.25%;
    
    background: #d5d5d5;
    height: 110vh;
    width: 100vw;       
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{

    box-sizing: border-box;
    
    width: 100vw;
    height: 15vh;
}

footer{

    box-sizing: border-box;
    
    width: 100vw;
    height: 15vh;
}

.paiFlex{

    box-sizing: border-box;
    display: flex;
    
    height: 100vh;
    width: 100vw;
}



.mainAside{
    
    box-sizing: border-box;
    
    width: 30vw;
    height: 100vh;
}

.tituloTexto{
    
    box-sizing: border-box;
    margin-left: 3%;
    font-size: 12em;
}

.meusJogos{

    
    box-sizing: border-box;
    width: 70vw;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 1%;

}

.meusJogos a {

    
    width: 10vw;
    height: 25vh;
    margin-right: 5%;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    
}

.listaDesejo{
    
    box-sizing: border-box;
    width: 70vw;
    height: 36vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 3%;

}

.listaDesejo a {

    width: 10vw;
    height: 25vh;
    margin-right: 5%;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.mainContainer{

    box-sizing: border-box;
    
    width: 70vw;
    height: 100vh;

}

.caixaPerfil{

    
    padding-top: 2%;
    width: 23vw;
    min-width: 300px;
    max-width: 420px;
    height: 98vh;
    max-height: 980px;
    min-height: 670px;
    text-align: center;
    background-color: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    

}

.caixaFoto {

    
    margin: 0 auto;
    width: 13vw;
    min-width: 200px;
    max-width: 245px;
    height: 24vh;
    min-height: 200px;    
    max-height: 240px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;    

}

.caixaNick{
    
    font-size: 25em;

}

.caixaSobre{

    margin: 0 auto;
    width: 18.5vw;
    max-width: 350px;
    min-width: 240px;
    height: 15vh;
    max-height: 149px;
    

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

}

.listaPerfil{
    
    
    margin: auto;
    
    width: 18.5vw;
    max-width: 350px;
    min-width: 270px;    
    height: 35vh;
    max-height: 350px;
}

.listaPerfil a {
    
    
    margin-top: 1vh;
    display: block;
    width: 18.5vw;
    max-width: 350px;
    min-width: 270px;
    height: 8vh;
    max-height: 80px;

    font-size: 25em;
    text-decoration: none;
    color: black;
    padding-top: 7%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.listaPerfil a:hover{

    background-color: rgb(235, 231, 0);
}

.sociais{

    box-sizing: border-box;
    padding-top: 2vh;
    margin: 0 auto;
    
    width: 18.5vw;
    max-width: 350px;
    
}

.sociais img{
    
    margin-right: 7%;
    width: 3vw;
    height: 6vh;
}

.sociais img:hover{

    width: 3.2vw;
    height: 7vh;

}




@media (max-width: 1024px) and (max-height: 890px) {

    .meusJogos{

        padding-top: 5%;
    }

    .meusJogos a {

        margin-right:2%;
        width: 12vw;
        height: 20vh;
    }

    .listaDesejo{

        padding-top: 5%;
    }
    .listaDesejo a {

        margin-right:2%;
        width: 12vw;
        height: 20vh;

    }

    .caixaPerfil{

        width: 23vw;
    }

    .caixaFoto{

        margin: 0 auto;
    }

    .caixaNick{

        font-size: 15em;
    }

    .caixaSobre{

        width: 30vh;
    }

    .listaPerfil{

        width: 30vh;
    }

    .listaPerfil a {

        width: 30vh;
        height: 8vh;
    }

    .sociais{

        padding-top: 2vh;
        width: 30vh;
    }

    
}

@media (max-width: 768px) and (max-height: 1024px){

      
    .paiFlex{

        flex-direction: column-reverse;
        width: 100vw;
        height: 190vh;
    }

    .mainAside{

        width: 100vw;
        height: 100vh;
    }

    .caixaPerfil{

        margin: 0 auto;
        width: 60vw;

    }

    .caixaFoto{

        width: 25vh;
        height: 25vh;
    }

    .caixaSobre{

        width: 40vw;
    }

    .listaPerfil{

        width: 40vw;
    }

    .listaPerfil a {

        width: 40vw;
    }

    .sociais{

        width: 40vw;
    }


    .mainContainer{

        width: 100vw;
        height: 88vh;

    }

    .meusJogos{

        height: 50vh;
        width: 100vw;
        padding-top: 3%;
        box-sizing: border-box;
    }

    .meusJogos a{

        width: 18vw;
        height: 21vh;
        margin-right: 1%;
    }

    .listaDesejo{

        width: 100vw;
        height: 28vh;
    }
    
    .listaDesejo a {

        width: 18vw;
        height: 21vh;
        margin-right: 1%;

    }



}

@media (max-width: 425px) and (max-height: 890px) {

    .paiFlex{

       
        flex-direction: column-reverse;    
        height: 180vh;
        width: 100vw;

    }

    .mainContainer{

        width: 100vw;
        height: 75vh;
    }

    .mainAside{
        height: 120vh;
    }
    .caixaPerfil{

        width: 100vw;
        height: 100vh;

    }
    
    .meusJogos{

        padding: 1%;
        height: 40vh;
        width: 100vw;
    }

    .meusJogos a {


        width: 17vw;
        height: 15vh;
        margin-right: 2vw;
        margin-top: 5%;
    }

    .listaDesejo{

        padding: 1%;
        width: 100vw;
        height: 22vh;
    }

    .listaDesejo a {

        margin-top: 5%;
        width: 17vw;
        height: 15vh;
        margin-right: 2vw;
    }


    .caixaPerfil{

        margin: 0 auto;
        width: 98vw;
    }

    .caixaFoto{

        width: 60vw;
        height: 60vh;
    }

    .caixaSobre{

        width: 75vw;
    }

    .listaPerfil{

        width: 75vw;
    }

    .listaPerfil a {

        width: 75vw;
    }

    .sociais{

        width: 75vw;
    }
    
}

@media (max-width: 540px) and (max-height: 736px) {

    .caixaPerfil{

        padding-top: 10px;
    }

    .caixaFoto {

        width: 15vw;
        height: 15vh;
    }


}






