
@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}


html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #d5d5d5;    

}

.marginzero{

    margin: 0px;

}


/* parte usuario '''''''*/