@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}


html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #d5d5d5;
}
/* CAIXA DO MAIN E DO ASIDE*/

.paiFlex{

    box-sizing: border-box;
    display: flex;
    height: 105vh;
    

}
 /* CAIXA DO MAIN */


.containerMain{

    box-sizing: border-box;
    width: 70vw;
    height: 105vh;

}

.caixaTexto{

    margin-left: 19%;
    width: 47vw;
    height: 18vh;
    
    font-size: 50em;
    color: white;
    text-align: center;

    background: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);

}

.caixaPosts{

    
    width: 50vw;
    height: 82vh;
    margin-left: 17.5%;
    margin-top: 0.5%;
    box-sizing: border-box;

}

.posts{

    width: 50vw;
    min-width: 300px;
    height: 24.5vh;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    
}

.textData{

    box-sizing: border-box;
    margin-left: 70%;
    font-size: 10em;

}
/* CAIXA DO ASIDE */
@media (max-width: 1440px) and (max-height: 855px) {

    html{

        box-sizing: border-box;
    }

    header{

        width: 100vw;
    }

    .caixaTexto{

        margin-left: 19%;
        width: 40vw;
    }

    .caixaPosts{

        margin-left:12%;
    }


}


@media (max-width: 1024px) and (max-height: 855px) {
    


    .containerMain{

        width: 65vw;
    }

    .containerPerfil{
        width: 40vw;
    }


    .caixaTexto{

        margin-left:12%;
    }

    .caixaPosts {

        margin-left: 10%;

    }

}



@media (max-width: 768px) and (max-height: 1025px) {
    
    body{
            height: 200vh;
            width: 100vw;
            max-width: 768px;

        }

    header{

        width: 100vw;
        height: 15vh;
        max-width: 768px;

          }


    .paiFlex{

        display: flex;
        height: 210vh;
        width: 100vw;
        max-width: 900px;
        flex-direction: column-reverse;
        
    }

    .containerMain{
        
        margin-top: 0vh;
        height: 110vh;
        width: 100vw;

    }
    .containerPerfil{

        width: 100vw;
        max-width: 768px;
        
    }

    .sociais a {
        margin-top: 4%;
    }

    .caixaPerfil{

        margin-left: 25%;

    } 

    .caixaTexto {
        
        margin-left: 19vw;
        width: 60vw;
        height: 150px;

    }

    .caixaTexto p {
        
        padding-top: 4%;
        text-align: center;
        font-size: 80%;
    }

    .caixaPosts{

        height: 90vh;
        width: 80vw;
        margin-left: 9vw;
        margin-top: 20px;
    }

    .posts{

        width:80vw;
    }

    footer{
        height: 15vh;
        width: 100vw;
        max-width: 768px;

    }
    
   
    
}


@media (max-width: 768px) and (max-height: 890px){

    .sociais a{

        margin-top: 10%;

    }

    .caixaPerfil {

        margin-left: 20%;
    }
    .caixaTexto{
            
            width: 55vw;
            margin-left: 14%;
        }

    .caixaPosts{

        width: 60vw;
        height: 90vh;
        margin-left: 12%;
    }
    
    .posts{
        
        width: 60vw;
        height: 25vh;
    }

    


}


@media (max-width: 375px) and (max-height: 855px){


    html{

        margin: 0;
        box-sizing: border-box;

    }

    .caixaTexto{

        
        width: 70vw;

    }

    .containerMain{

        width: 100vw;
    }

    .caixaPosts{
        
        margin: 2%;
    }

    .posts{
        
        width: 320px;
        height: 200px;
    }
}


@media (max-width: 425px) {

    .caixaPerfil{
        margin: 8%;
    }


}

@media (max-width: 380px) {

    
    body{

        width: 350px;
    }
    .paiFlex{
        margin-top: 0;
        width: 350px;
        
    }
    .containerMain{

        width: 350px;
    }


    .caixaPerfil{

        width: 340px;
        margin-left:0;
        margin-top: 0;

    }

    .caixaSobre{

        width: 300px;
        margin-left: 25px;

    }

    .listaPerfil a {
        
        margin-left: 25px;
        width: 300px;

    }

    .sociais {

        margin-left: 40px;
        

    }
    
    .sociais a {

        margin-left: 10%;

    } 




}

@media (max-height: 812px){
    
    .paiFlex{
        height: 221vh;
    }

}


@media (max-width: 375px) and (max-height: 667px){

    html{
        box-sizing: border-box;
    }
    .containerMain{

        width: 100vw;
    }

    .caixaPosts{

        margin-left: 6%;
        width: 85vw;
        height: 80vh;
    }

    .posts{
        
        height: 20vh;
    }

   .paiFlex{

    height: 245vh;
   }
}


