
@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}


html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #d5d5d5;
}
/* CAIXA DO MAIN E DO ASIDE*/

.paiFlex{

    box-sizing: border-box;
    display: flex;
    height: 105vh;
    

}
 /* CAIXA DO MAIN */


.containerMain{

    box-sizing: border-box;
    width: 70vw;
    height: 105vh;

}

.caixaTexto{

    margin-left: 19%;
    width: 47vw;
    height: 18vh;
    
    font-size: 50em;
    color: white;
    text-align: center;

    background: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);

}

.caixaPosts{

    
    width: 50vw;
    height: 82vh;
    margin-left: 17.5%;
    margin-top: 0.5%;
    box-sizing: border-box;

}

.posts{

    width: 50vw;
    min-width: 300px;
    height: 24.5vh;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    
}

.textData{

    box-sizing: border-box;
    margin-left: 70%;
    font-size: 10em;

}
/* CAIXA DO ASIDE */



@media (max-width: 956px) and (max-height: 890px) {
    
    .paiFlex{

        display: flex;
        height: 210vh;
        /* width: 100vw; */
        
        flex-direction: column-reverse;
        
    }

    .containerMain{
        
        margin: 0 auto ;
        height: 110vh;
        width: 100vw;
        min-width: 100vw;

    }
    .containerPerfil{

        width: 100vw;
       
        
    }

    .sociais a {
        margin-top: 4%;
    }

    .caixaPerfil{

        margin-left: 25%;

    } 

    .caixaTexto {
        
        margin-left: 19vw;
        width: 60vw;
        height: 150px;

    }

    .caixaTexto p {
        
        padding-top: 4%;
        text-align: center;
        font-size: 80%;
    }

    .caixaPosts{

        height: 90vh;
        width: 80vw;
        margin-left: 9vw;
        margin-top: 20px;
    }

    .posts{

        width:80vw;
    }


   
    
}

