@font-face {

    font-family:"PressStart2P";
    src: url(/font/PressStart2P-Regular.ttf);
}

html{

    font-family: "PressStart2P";
    font-size: 6.25%;
    border: 0;
    margin: 0;
    padding: 0;
}


body {
    
    border: 0;
    margin: 0;
    padding: 0;
    background: #d5d5d5;    

}

.paiFlex {
    display: flex;
    height: auto;
}
.caixaMain{
    
    width: 70vw;
}

.containerPerfil{
    box-sizing: border-box;
    width: 30vw;
}
.cxTitulo{

    display: flex;
    margin-left: 7.2%;
    margin-top: 5vh;
}
.titulo1 {

    background-color: white;
    height: 5vh;
    width: 46.3%;
    text-align: center;
}
.titulo1 p {
    font-size: 18rem;
}
.titulo2 {

    background-color: #10838d;
    height: 5vh;
    width: 46.4%;
    cursor: pointer;
    text-align: center;
}
.titulo2 p {
    font-size: 18rem;
}

.conteudo1 {
    
    background-color: white;
    width: 60%;
    height: 70vh;
    position: absolute;
    left: 5%;
    border: 2px #10838d solid;
    border-top: none;  
    box-sizing: border-box; 
    
}
.conteudo2 {
    
    background-color: white;
    width: 60%;
    height: 70vh;
    position: absolute;
    left: 5%;
    display: none;
    border: 2px #10838d solid;
    border-top: none;
    box-sizing: border-box;
    
    
}
.aparecer {
    display: block;
}



@media (max-width: 956px) and (max-height: 890px) {
    
    .paiFlex{

        display: flex;
        height: 200vh;
        /* width: 100vw; */
        
        flex-direction: column-reverse;
        
    }

    .caixaMain {

        width: 100vw;
    }

    .caixaMidias {
        
        margin: 0 auto;
    }
}