


.marginzero{

    margin: 0px;

}


/* parte usuario */
.containerPerfil {

   
    height: 100vh;
    min-height: 770px;
   
}
.caixaPerfil {
    
    margin: auto;
    width: 30vw;
    min-width: 350px;
    max-width: 400px;
    height: 95vh;
    min-height: 600px;
    max-height: 900px;

    background: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0.7vw 0.5vh 1vh rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}


.modalConfig{

    
    position: absolute;  
    background-color: rgba(0, 0, 0, 0.2);
    width: 30vw;
    min-width: 350px;
    max-width: 400px;
    height: 95vh;
    min-height: 600px;
    max-height: 900px;
    border-radius: 24px;
    display: none;
    
}
.confgForm{
   
 
    margin: 50% auto;
    padding: 0 7%;
    
    background-color: white;
    border: #0E9AA7 5px solid;
    border-radius: 20px;
    width: 15vw;
    min-width: 250px;
    height: 45vh;
    left: 40%;
    top: 40%;
    box-sizing: border-box;
    box-shadow: 0.2vw 0.5vh 0.3vh rgba(0, 0, 0, 0.25);


}

.buttonClose{

    background-color: white;
    color: teal;
    position: relative;
    left: 100%;
    bottom: 2vh;

    display: block;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.labelConfg{
    
    font-size: 10em;
}


.inputEnviar{

    margin: auto;
    font-size: 20em;
    color: white;
    width: 20vw;
    max-width:200px;
    height: 5vh; 
    border: #0e8f59 2px solid;
    background-color: #0E9AA7;
    display: table;
    margin-top: 2vw;
    font-family: 'Press Start 2P';

}

.inputEnviar:hover {

    width: 21vw;
    max-width: 215px;
    height: 5.5vh;
    cursor: pointer;
    background-color: #0ea78e;
}

.inputConfg{

    margin: auto;
    width: 20vw;
    max-width: 200px;
    min-width: 150px;
    height: 2.5vh;
    display: table;
    margin-bottom: 5px;
    border: rgb(240, 240, 240) 1px solid;
    border-bottom: #0E9AA7 2px solid;

}
.confgFoto {
    
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0.9;
    left: 1vw;
    top: 1vh;

}

.caixaFoto {

    margin: 0 auto;
    width: 13.5vw;
    height: 26vh;
    min-width: 220px;
    max-width: 250px;
    min-height: 180px;
    max-height: 250px;
    background-color: white;    
    
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.imgCaixaFoto{

    
    width: 13.5vw;
    height: 26vh;
    min-width: 220px;
    max-width: 250px;
    min-height: 180px;
    max-height: 250px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid #000000;

}


.confgFoto:hover {

    cursor: pointer;
    
}

.caixaNick{

    text-align: center;
    font-size: 25em;
}

.caixaSobre{

    margin: auto;
    width: 18.8vw;
    min-width: 300px;
    max-width: 300px;
    height: 15vh;
    max-height: 150px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
  
    font-size: 9em;

}
.pSobre{

    text-align: center;
}
.listaPerfil a {

    display: table;
    margin: 1% auto;

    width: 18.8vw;
    min-width: 300px;
    max-width: 300px;
    height: 7.5vh;
    min-height: 70px;
    max-height: 70px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    text-decoration: none;
    

}

.listaPerfil a:hover{

    background-color: rgb(235, 231, 0);
}

.listaPerfil a{

    text-decoration: none;
    color: black;
    
}

.sociais{

    box-sizing: border-box;
    display: flex;
    list-style:none;
    
    width: 300px;
    height: 50px ;
    margin: 3% auto;
}

.sociais a{

    margin: 0 8%;

}

.sociais img:hover{

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 60px;
}

.sociais img{

    height: 50px;
    width: 50px;
    

}