
.marginzero{

    margin: 0px;

}


/* parte usuario */
.containerPerfil {

   
    height: 100vh;
    min-height: 770px;
   
}
.caixaPerfil {
    
    margin: 0 auto;
    width: 30vw;
    min-width: 350px;
    max-width: 400px;
    height: 95vh;
    min-height: 600px;
    max-height: 900px;

    background: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0.7vw 0.5vh 1vh rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.caixaFoto {

    margin: 2vh auto;
    width: 13.5vw;
    height: 26vh;
    min-width: 220px;
    max-width: 250px;
    min-height: 180px;
    max-height: 250px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.caixaNick{

    text-align: center;
    font-size: 25em;
}

.caixaSobre{

    margin: auto;
    width: 18.8vw;
    min-width: 300px;
    max-width: 300px;
    height: 15vh;
    max-height: 150px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

    text-align: center;
    font-size: 9em;

}
.listaPerfil a {

    display: table;
    margin: 1% auto;

    width: 18.8vw;
    min-width: 300px;
    max-width: 300px;
    height: 7.5vh;
    min-height: 70px;
    max-height: 70px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    text-decoration: none;
    

}

.listaPerfil a:hover{

    background-color: rgb(235, 231, 0);
}

.listaPerfil a{

    text-decoration: none;
    color: black;
    
}

.sociais{

    box-sizing: border-box;
    display: flex;
    list-style:none;
    
    width: 300px;
    height: 50px ;
    margin: 3% auto;
}

.sociais a{

    margin: 0 8%;

}

.sociais img:hover{

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 60px;
}

.sociais img{

    height: 50px;
    width: 50px;
    

}