
@font-face {

    font-family: 'Press Start 2P';
    src: url(/font/PressStart2P-Regular.ttf);
}

html{
    font-family: 'Press Start 2P', cursive;
        font-size: 6.25%;

}

body {

    
    background: #d5d5d5;  

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    

}

.marginzero{

    margin: 0px;

}


/* parte usuario '''''''*/





.containerPerfil {

   
   width: 100vw;
   height: 93vh;
   min-height: 770px;
  
}


.caixaPerfil {
    
 
    width: 43vw;
    min-width: 350px;
    max-width: 400px;
    height: 120vh;
    min-height: 640px;
    max-height: 950px;

    background: #0E9AA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0.7vw 0.5vh 1vh rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.caixaFoto {

    margin-top: 2vh;
    margin-left: 20%;
    width: 13.5vw;
    min-width: 200px;
    height: 26vh;
    min-height: 180px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.caixaNick{

    text-align: center;
    font-size: 25em;
}

.caixaSobre{

    margin-left: 6.5%;
    width: 18.8vw;
    min-width: 300px;
    height: 15vh;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

    text-align: center;
    font-size: 9em;

}
.listaPerfil a {

    display: table;
    margin-left: 6.5%;
    margin-top: 2%;

    width: 18.8vw;
    min-width: 300px;
    height: 7.5vh;
    min-height: 70px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    text-decoration: none;
    

}

.listaPerfil a:hover{

    background-color: rgb(235, 231, 0);
}

.listaPerfil a{

    text-decoration: none;
    color: black;
    
}

.sociais{

    box-sizing: border-box;
    display: flex;
    list-style:none;
}

.sociais a{
    
    margin-top: 8%;
    margin-left: 14%;

}

.sociais img:hover{

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 60px;
}

.sociais img{

    height: 50px;
    width: 50px;
    

}