<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/ajuda.css">
    <link rel="stylesheet" href="/css/tema.css">
    <title>Ajuda</title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="bloco-1">
        <h2>Como podemos ajudar você?</h2>
        <div class="pesquisa-ajuda">
            <input type="search" class="txt-pesquisas" placeholder="Pesquisar">
        </div>
    </div>
    <div class="bloco-2">
        <h2>Topicos populares</h2>
        <div class="populares">
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/config.png"></li>
                        <li><h3>Configurações da conta</h3></li>
                        <li>Ajuste as configurações, gerencie as notificações, saiba mais sobre mudanças de nome e muito mais.</li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/key.png"></li>
                        <li><h3>Login e senha</h3></li>
                        <li>Resolva problemas de login e saiba como alterar ou redefinir sua senha.</li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/shield.png"></li>
                        <li><h3>Privacidade e segurança</h3></li>
                        <li>Controle quem pode ver o que você compartilha e adicione proteção extra à sua conta.</li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/config.png" alt=""></li>
                        <li><h3>Duvidas frequentes</h3></li>
                        <li>Nesta seção, são divulgadas as perguntas frequentes pelos usuários.</li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/acessibilidade.png" alt=""></li>
                        <li><h3>Acessibilidade</h3></li>
                        <li></li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="populares-div">
                    <ul>
                        <li><img src="/img/ajuda-icon/games.png" alt=""></li>
                        <li><h3>Ajuda com jogos ou anuncios</h3></li>
                        <li>Dificuldade em achar um jogo ou adicionar um produto?</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>
</html>