<link rel="stylesheet" href="/css/home/contato.css">

<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="container">
        <div class="introducao">
            <h1>Entre em contato conosco</h1>
        </div>
        <div class="colunas">
            <a href="#">
                <div class="contatos">
                    <ul>
                        <li><img src="/img/contato/email.png"></li>
                        <li><h3>E-mail</h3></li>
                        <li>Mande seu e-mail no: </li>
                        <li>Gamepad@Gamepad.com</li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="contatos">
                    <ul>
                        <li><img src="/img/contato/telefone.png"></li>
                        <li><h3>Telefone</h3></li>
                        <li>Ligue e tire suas duvidas com um de nossos atendentes</li>
                        <li>(XX) xxxxx-xxxx </li>
                    </ul>
                </div>
            </a>
            <a href="#">
                <div class="contatos">
                    <ul>
                        <li><img src="/img/contato/ouvidoria.png"></li>
                        <li><h3>Ouvidoria</h3></li>
                        <li>0800 000 0000</li>
                        <li>ouvidoria@Gamepad.com</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>