<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/home/footer.css">
</head>
<body>
    <footer>
        <section class="rodape">
            <article class="rodape-coluna-1">
                <img class="rodape-logo" src="resouces/logo.png">
            </article>
    
            <article class="rodape-coluna-2">
                <h5>Ajuda</h5>
                <h5>Termos de uso</h5>
                <h5>Entre em contato</h5>
                <h5>Sobre nós</h5>
            </article>
    
            <article class="rodape-coluna-3">
                <h5>Idiomas</h5>
                <h5>Português</h5>
            </article>
    
            <article class="rodape-coluna-4">
                <h5>Redes sociais</h5>
                <a href="#"><img class="img-sociais" src="resouces/facebookIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="resouces/instagramIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="resouces/twitterIcon.png" alt=""></a>
            </article>
        </section>
        <div class="copy">
            <h6>C 2021 copyright</h6>
        </div>
    </footer>
</body>
</html>

