<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="css/tema.css">
<link rel="stylesheet" href="/css/home/footer.css">
</head>
<body>
    <footer>
        <section class="rodape">
            <article class="rodape-coluna-1">
                <img class="rodape-logo" src="/img/logo.png">
            </article>
    
            <article class="rodape-coluna-2">
                <ul class="none">
                    <li><a href="/home/ajuda">Ajuda</a></li>
                    <li><a href="/home/termoUso">Termos de uso</a></li>
                    <li><a href="#">Entre em contato</a></li>
                    <li><a href="/home/quemsomos">Sobre nós</a></li>
                </ul>
            </article>
    
            <article class="rodape-coluna-3">
                <ul class="none">
                    <li><a href="#">Idiomas</a></li>
                    <li><a href="#">Portugues</a></li>
                </ul>
            </article>
    
            <article class="rodape-coluna-4">
                <h5>Redes sociais</h5>
                <a href="#"><img class="img-sociais" src="/img/facebookIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="/img/instagramIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="/img/twitterIcon.png" alt=""></a>
            </article>
        </section>
        <div class="copy">
            <h6>C 2021 copyright</h6>
        </div>
    </footer>
</body>
</html>

