<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/footer.css">
</head>

<body class="proibido-b">
    <footer class="footer">
        <section class="rodape">
            <article class="rodape-coluna-1">
                <a href="/"><img src="/img/logo.png"></a>
            </article>

            <article class="rodape-coluna-2">
                <ul class="none">
                    <li><a href="/home/ajuda">Ajuda</a></li>
                    <li><a href="/home/termoUso">Termos de uso</a></li>
                    <li><a href="/home/contato">Entre em contato</a></li>
                    <li><a href="/home/quemsomos">Sobre nós</a></li>
                </ul>
            </article>

            <article class="rodape-coluna-4">
                <h5>Redes sociais</h5>
                <a href="#"><img class="img-sociais" src="/img/facebookIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="/img/instagramIcon.png" alt=""></a>
                <a href="#"><img class="img-sociais" src="/img/twitterIcon.png" alt=""></a>
            </article>
        </section>
        <div class="copy">
            <h6>C 2021 copyright</h6>
        </div>
    </footer>
</body>

</html>