<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/header.css">
</head>
<header class="cabecalho">
    <div class="cabecalho-logo">
        <img src="/img/logo.png">
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/home/quemSomos">Sobre</a></li>
            <li><a href="/jogos/">Jogos</a></li>
            <li><a href="#">Anúncios</a></li>
        </ul>
    </nav>
    <div class="cabecalho-final">
        <div class="div-pesquisa">
            <input type="search" class="txt-pesquisa" placeholder="Pesquisar">
        </div>
    <% if (usuario) {%>

        <img class="img-usuarioLogado" src="https://i.pinimg.com/originals/08/e9/0c/08e90c026242fbee0c7704b078219359.png" alt=""/>
        <a class="nome-usuario-logado" href="/users">painel</a>

    <%}else { %>
    
    <button><a class="btn-w" href="/login">Entrar</a></button>
    <button><a class="btn-w" href="/registrar">Registrar</a></button>
        
    <%}%>
</header>
</html>