<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/header.css">
</head>
<header class="cabecalho">
    <div class="cabecalho-logo">
        <img src="/img/logo.png">
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/home/quemSomos">Sobre</a></li>
            <li><a href="/jogos/">Jogos</a></li>
            <li><a href="#">Anúncios</a></li>
        </ul>
    </nav>
    <div class="cabecalho-final">
        <div class="div-pesquisa">
            <input type="search" class="txt-pesquisa" placeholder="Pesquisar">
        </div>
    <% if (usuario) {%>

        <a class="nome-usuario-logado" href="/users"><img class="img-usuarioLogado" src="<%=usuario.foto%>" alt=""/></a>
        <form action="/sair" method="POST" class="botaoSair">
            <button type="submit"><img src="/img/botaoSair.png" alt="" srcset=""></button>             
        </form action="/sair">      

    <%}else { %>
    
    <button><a class="btn-w" href="/login">Entrar</a></button>
    <button><a class="btn-w" href="/registrar">Registrar</a></button>
        
    <%}%>
</header>
</html>