<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
<link rel="stylesheet" href="/css/tema.css">
<link rel="stylesheet" href="/css/home/header.css">
</head>

    <header class="cabecalho">
        <div class="cabecalho-logo">
            <img src="/img/logo.png">
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/home/quemSomos">Sobre</a></li>
                <li><a href="/jogos/">Jogos</a></li>
                <li><a href="#">Anúncios</a></li>
            </ul>
        </nav>
        <div class="cabecalho-final">
        <div class="div-pesquisa">
            <input type="search" class="txt-pesquisa" placeholder="Pesquisar">
        </div>
        <button><a class="btn-w" href="/login">Entrar</a></button>
        <button><a class="btn-w" href="/registrar">Registrar</a></button>
        </div>
    </header>

</html>
