<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/header.css">
</head>
<header class="cabecalho">
        <div class="cabecalho-logo">
            <a href="/"><img src="/img/logo.png"></a>
        </div>

        <div class="caixaCabecalho">
            <ul>
                <li class="listaInicio"><a href="/">Inicio</a></li>
                <li class="listaInicio"><a href="/home/quemSomos">Sobre</a></li>
                <li class="listaInicio"><a href="/jogos">Jogos</a></li>
                <li class="listaInicio"><a href="/jogos/noticias">Noticias</a></li>
            </ul>
        </div>
        <div class="divPesquisar">
            <form action="/jogos/pesquisar" class="formPesquisar" method="GET">
                <input type="search" name="nome" id="formPesquisar-input" placeholder="Pequisar">
            </form>
        </div>
    <% if (usuario) {%>

        <div class="caixaLogin">
            <a class="nome-usuario-logado">
                <img class="img-usuarioLogado" src="<%=usuario.foto%>" alt=""/>
            </a>
            <div class="caixaListaLogin">
                <ul>
                    <li class="caixaListaLogin-li"><a href="/users">inicio</a></li>
                    <li class="caixaListaLogin-li"><a href="/users/posts">Posts</a></li>
                    <li class="caixaListaLogin-li"><a href="/users/analise">Análise</a></li>
                    <li class="caixaListaLogin-li"><a href="/users/midias">Midias</a></li>
                    <li class="caixaListaLogin-li"><a href="/users/meusjogos">Jogos</a></li>
                    <li class="caixaListaLogin-li-sair">
                        <form action="/sair" method="POST">
                            <button type="submit" class="inputCaixaSair">Sair</button>             
                        </form action="/sair">
                    </li>
                </ul>
            </div>
        </div>

    <%}else { %>
        <div class="caixaEntrarSair"> 
            <a class="btn-p" href="/login">Entrar</a>
            <a class="btn-p" href="/registrar">Registrar</a>
        </div>   
    <%}%>
    
    <script src="/js/index/header.js"></script>
</header>
</html>