<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/header.css">
</head>
<header class="cabecalho">
    <div class="cabecalho-logo">
        <img src="/img/logo.png">
    </div>

    <div class="caixaCabecalho">
        <ul>
            <li class="listaInicio"> <a href="/">Inicio</a></li>
            <li class="listaInicio"> <a href="/home/quemSomos">Sobre</a></li>
            <li class="listaInicio"> <a href="/jogos">Jogos</a></li>
            <li class="listaInicio"> <a href="/jogos/noticias">Noticias</a></li>
        </ul>
    </div>
    <div class="divPesquisar">
        <form action="" class="formPesquisar">
            <input type="search" name="" id="formPesquisar-input" placeholder="Pequisar">
        </form>
    </div>
    
    <% if (usuario) {%>

        <div class="caixaLogin">
            <a class="nome-usuario-logado">
                <img class="img-usuarioLogado" src="<%=usuario.foto%>" alt=""/>
            </a>
            <div class="caixaListaLogin">
                <ul>
                    <a href="/users"><li class="caixaListaLogin-li">inicio</li></a>
                    <a href="/users/posts"><li class="caixaListaLogin-li">Posts</li></a>
                    <a href="/users/analise"><li class="caixaListaLogin-li">Análise</li></a>
                    <a href="/users/midias"><li class="caixaListaLogin-li">Midias</li></a>
                    <a href="/users/meusjogos"><li class="caixaListaLogin-li">Jogos</li></a>
                    <li class="caixaListaLogin-li-sair">
                    <form action="/sair" method="POST">
                        <button type="submit" class="inputCaixaSair">Sair</button>             
                    </form action="/sair"> </li>
                </ul>
            </div>
        </div>

        <!-- <form action="/sair" method="POST" class="botaoSair">
            <button type="submit"><img src="/img/botaoSair.png" alt="" srcset=""></button>             
        </form action="/sair">       -->

    <%}else { %>
        <div class="caixaEntrarSair"> 
            <a class="btn-p" href="/login">Entrar</a>
            <a class="btn-p" href="/registrar">Registrar</a>
        </div>   
    <%}%>
    <script src="/js/index/header.js"></script>
</header>
</html>