<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/home/quemSomos.css">
    <title>Quem Somos?</title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerQuemSomos">
        <main>
            <article class="articleQuemSomos">
                <h1 class="tituloQuemSomos">
                    Quem Somos?
                </h1>

                <div id="quemSomosPai">
                    <div id="Bruno" class="cQuemSomos">
                        <div class="imgQuemSomos">
                            <img src="/img/bruno.jpeg" alt="" srcset="">
                        </div>
                        <div class="texto">
                            <h1>Bruno grassi</h1>
                            <h2>20 anos</h2>
                            <p>Sobre:  
                                estudante de cursinho pré-vestibular em busca de uma vaga nas faculdades públicas
                                mais concorridas de São Paulo no curso de ciências da computação.
                            </p>                        
                        </div>
                    </div>
                    <div id="Julio" class="cQuemSomos">
                        <div class="imgQuemSomos">
                            <img src="/img/julio.png" alt="" srcset="">
                        </div>
                        <div class="texto">
                            <h1>Julio Cesar Siqueira Torres</h1>
                            <h2>28 anos</h2>
                            <p>Sobre:  
                            Estudante, Morador da Cidade Maravilhosa(rio de janeiro), 
                            esforçado e sempre querendo evoluir.
                            </p>                        
                        </div>

                    </div>
                    <div id="Reinaldo" class="cQuemSomos">
                        <div class="imgQuemSomos">
                            <img src="/img/reinaldo.jpeg" alt="" srcset="">
                        </div>
                        <div class="texto">
                            <h1>Reinaldo Ripari Leira</h1>
                            <h2>35 anos</h2>
                            <p>Sobre:  
                            Analista de Informática em uma empresa de transporte público.
                            Formado em Tecnologia em Analise e Desenvolvimento de Sistemas.
                            </p>                        
                        </div>

                    </div>
                </div>
                
                <h1 class="tituloQuemSomos">
                    Missão
                </h1>
                <p>Nossa missão nesse Projeto, era e ainda é, desenvolver uma pagina com com interação do usuario com uma rede de jogos.
                Nesse projeto, teremos algo parecido ao ja conhecido site "myAnimeList", porem aqui listamos Jogos e o Usuario pode iteragir,
                dando avaliação com no jogo e adicionando Midias, como videos e fotos.
                Além do perfil propio para cada usuario, listando seus jogos favoritos, lista de desejos, Midias, Posts e Analises.
                </p>

            </article>
        </main>
    </container>
    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>