<link rel="stylesheet" href="../../public/css/home/section-1.css">

<div class="bloco-geral">
    <section class="bloco-1">
        <h3>Jogos em promoção</h3>
            <div class="promocao">
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
            </div>    
        <h3>Jogos em destaque</h3>
            <div class="destaque">
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
            </div>
        <h3>Noticias</h3>
            <div class="noticia">
                <p></p>
            </div>
    </section>
    <section class="bloco-2">
        <div class="top-10">
            <h3>Top 10 da semana</h3>
                <article>
                    <p class="top-num">1</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">2</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">3</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">4</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">5</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">6</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">7</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">8</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">9</p>
                    <p>#nome do jogo#</p>

                </article>
                <article>
                    <p class="top-num">10</p>
                    <p>#nome do jogo#</p>

                </article>
    </section>
    </div>
</div>