<link rel="stylesheet" href="css/tema.css">
<link rel="stylesheet" href="/css/home/section-1.css">

<div class="bloco-geral">
    <section class="bloco-1">
        <h3>Jogos em promoção</h3>
            <div class="promocao">
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
            </div>    
        <h3>Jogos em destaque</h3>
            <div class="destaque">
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
                <article><img src="" alt=""></article>
            </div>
        <h3>Noticias</h3>
            <div class="noticia">
                <p></p>
            </div>
    </section>
    <section class="bloco-2">
        <div class="top-10">
            <h3>Top 10 da semana</h3>
            <% for(let jogo of jogos) { %> 
                <article class="article">
                    <a class="link" href="/jogos/perfil/<%= jogo.id %> ">
                    <p class="top-num"><%= jogo.id %></p>
                    <p><%= jogo.nomeJogo %></p>
                    </a>
                </article>
            <% } %> 
    </section>
    </div>
</div>