<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tema.css">
    <link rel="stylesheet" href="./css/termoUso.css">
    <title>Termos de Uso</title>
</head>
<body class="pai coluna">
    <header>
        <iframe src="header.html" title="iFrameCabecalho" class="iframeCabecalho"></iframe>
    </header>
    <container class="pai">
        <main>
            <article><p><h1>Termos de Uso</h1></p>
                <ol type="I">
                    <h3><p><li> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus vero sapiente doloribus repellat reiciendis maxime sunt repudiandae, sed debitis. Quod sed, officiis iste blanditiis distinctio reprehenderit tenetur. Fugit, molestias quod.
                    Quis labore molestias modi iste quae impedit, quas aliquid harum quisquam minima velit voluptates, atque pariatur odit ipsum, maxime mollitia nulla corrupti optio hic eos dolorum voluptatibus ipsa. Minus, soluta?
                    Laboriosam optio omnis temporibus iure asperiores debitis velit excepturi totam quos, odit ut quibusdam ex quo impedit quam, necessitatibus veritatis non placeat numquam minima ratione amet, dolor vitae. Ea, iusto!</p></li>
                    <p><li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et in temporibus laudantium atque provident, officiis aspernatur natus doloremque maiores, a omnis necessitatibus recusandae sunt dolore facilis delectus culpa pariatur dolorem!
                    Iste ipsam quasi, quibusdam ipsum, culpa distinctio debitis voluptates exercitationem in beatae repellat veniam aut, asperiores tempore nesciunt perferendis! Optio unde sint minima iusto laudantium deleniti ducimus perspiciatis ipsum architecto.</p></li>
                    <p><li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, perferendis nemo. Pariatur nobis tempora officia enim ut illum consequuntur officiis, necessitatibus praesentium ullam beatae laborum! Corrupti ut accusamus voluptates minima.</p></li>
                    <p><li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro sunt quaerat quia. Dolorum autem soluta commodi, non eaque qui facere fugit unde, vero hic delectus accusamus deleniti quaerat reprehenderit nostrum.
                    Vel molestias fugit numquam necessitatibus, quae delectus dolorum libero facilis maiores, minus ratione eos, eligendi voluptatum. Quos, tempora inventore labore doloremque dolorum rem commodi ducimus pariatur numquam quis deserunt doloribus?</p></li>
                    <p><li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio rerum laborum quisquam autem dolores nulla, ad sapiente omnis reiciendis, dolore, sequi libero in fugit numquam ullam facilis magnam enim!
                    Numquam veritatis doloribus iusto sint harum quae modi est, minus distinctio ab maiores rerum vel dolorum! Illum ipsa quibusdam magni quam? Ex dignissimos totam omnis. Reprehenderit nemo eius commodi dignissimos.
                    Quis, aliquam! Necessitatibus recusandae praesentium quia ipsa rerum voluptate assumenda! Dolor dolore, iusto perspiciatis odit, expedita autem cum magni ea quam eveniet, consequuntur sapiente deleniti incidunt sequi officiis! Voluptatibus, deleniti?
                    Laboriosam aut eum possimus error velit sed unde eligendi adipisci aliquid perspiciatis alias earum enim sunt, veritatis maxime asperiores consectetur. Qui, mollitia inventore! Cum rem unde temporibus earum cupiditate quaerat?
                    Voluptatem, voluptatum rem atque nemo dignissimos mollitia quia pariatur error provident. Aperiam nemo ducimus quaerat ad odio, dolor quidem? Repellat voluptas nisi deserunt fugiat possimus aspernatur quas deleniti, facilis ad.</p></li></h3>
                </ol>
            </article>
        </main>
    </container>    
    <footer>
        <iframe src="footer.html" title="IframeRodape" class="iframeRodape"></iframe>
    </footer>
</body>
</html>