   

.mainHistDePreco{            
    flex-grow: 1;    
    min-height: 100vh;             
}

.containerHistDePreco{                      
    min-height: 100vh;          
}

.pai{
    display: flex;
}

.coluna{
    flex-direction: column;
}

#tituloHistDePreco{
    text-align: center; 
    font-size: 14rem;                       
}    

#exemploHistDePreco{    
    width: 65%;
}
#quadroHistDePreco{
    text-align: center;
    flex-grow: 1;
}