.asideMenuJogos{
    height: 100vh;
    max-height:4600px;   
    border-radius: 25px;  
    font-size: 10rem; 
    text-align: center;                                                  
}

.asideMenuJogos li{
    height: 10%; 
    list-style: none;                                         
}

.asideMenuJogos ul{
    padding-inline-start: 0px;              
}

.asideMenuJogos a{
    text-decoration: none;
    color: black;
}
.capaMenuJogos{            
    height: 50%;       
    display: flex;  
    align-items: center;   
    justify-content: center;
}
.capaMenuJogos img{            
   max-height: 99%;          
   max-width: 99%;  
   width: 99%;
   object-fit: scale-down; 
}
.avaliarMenuJogo{    
    text-align: center;
    width: 100%;
}