.asideMenuJogos{
    height: 100vh;
    max-height:4600px;   
    border-radius: 25px;  
    font-size: 10rem; 
    text-align: center;                                                  
}

.asideMenuJogos li{
    cursor: pointer;
    height: 10%; 
    list-style: none;                                         
}


.asideMenuJogos ul{
    padding-inline-start: 0px;              
}

.asideMenuJogos a{
    text-decoration: none;
    color: black;
}
.capaMenuJogos{            
    height: 50%;       
    display: flex;  
    align-items: center;   
    justify-content: center;
}
.capaMenuJogos img{            
   max-height: 99%;          
   max-width: 99%;  
   width: 99%;
   object-fit: scale-down; 
}
.avaliarMenuJogo{    
    text-align: center;
    width: 100%;
}
/*Modal de Biblioteca ou Desejo*/

#perfilModal{
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: none;
}
.caixaSelectPlataforma{
    margin: auto;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.726);
    border: 2px yellow double;
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.caixaSelectPlataforma:hover{
    background-color: white;
    transition: all;
    transition-duration: 1s;
}
.caixaSelectPlataforma h1{
    color: #0e9aa7;
    text-shadow: 0px 1px 0.5px black;
    margin: 2% auto;
    font-size: 20rem;
}
.caixaSelectPlataforma select {
    color: #0e9aa7;
    border: 2px #0e9aa7 solid;
    margin-top: 3%;
    width: 50%;
    height: 15%;
    cursor: pointer;
    font-family:"PressStart2P";
}
.caixaSelectPlataforma input[type=radio] {
    width: 20px;
    height: 20px;
    border-radius: 0;    
}
.caixaSelectPlataforma input[type=radio]:checked{
    background-color: red;
}
#btnEnviar{
    border: 0;
    background-color: transparent;
    cursor: pointer;

    width: 15%;
    height: 27%;
    border-radius: 50%;
}
#btnEnviar:hover{
    width: 16%;
    height: 28%;
    
}
.btnEnviar-img{
    cursor: pointer;
    margin-top: 2% ;
    width: 100%;
    height: 100%;
}
#bck{
    cursor: pointer;
    margin-top: 2%;
    width: 5%;
    height: 10%;
}
#bck:hover{
    width: 6%;
    height: 11%;
}



.caixaSelectPlataforma div {
   
    font-size: 10rem;
    display: flex;
    align-items: center;
    margin-top: 5%;
    
}

/*modal fazer analise*/

.contentAnalise{
    width: 30%;
    height: 40%;
    background-color: #0e9aa7f3;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 20rem;
    border: 3px solid #0b818bf3;
    border-radius: 10px 10px 20px 20px;
}
.contentAnalise form{
    background-color: rgba(70, 70, 70, 0.884);
    width: 80%;
    height: 75%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    color: rgb(27, 27, 27);
    border-radius: 20px;
    border: 2px solid black;

}
.contentAnalise div{
    width: 90%;
    margin: 2% auto;
}

.contentAnalise input{
    display: block;
    font-family: "PressStart2P";
    height: 65%;
    border-radius: 10px;
}
.contentAnalise label{
    margin: 0 auto;
}
.titulo{
    text-align: center;
}
#titulo{
    background-color: rgb(150, 168, 151);
    margin-top: 2%;
    width: 100%;
}
#textAnalise{    
    font-family: "PressStart2P";
    font-size: 10rem;
    width: 100%;
    
    height: 12vh;
    resize: none;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: rgb(150, 168, 151);
}
.nota{
    display: flex;
    width: 80%;
}
.nota input{
    display: none;
}
.nota label{
    margin-left: 5%;
    cursor: pointer;
}
.nota input:checked + label {
    color: yellow;
}
.btns{
    
    height: 10%;
    margin: 0 auto;
    display: flex;
}
.btns button{
    background-color: rgb(77, 77, 77);
}
.btns button:hover{
    background-color: rgb(17, 17, 17);
    color: white;
    border: 3px rgb(241, 241, 241) solid;
}

#btnSend{
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    font-family: "PressStart2P";
}
#btnSair{
    cursor: pointer;
    border-radius: 20px;
    margin: 0 auto;
    border: none;
    font-family: "PressStart2P";
}

/**/

.modalError {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.295);
}

.caixaError {
    margin: 10% auto;
    width: 35%;
    height: 40%;
    background-color: white;
}
.cxImg{
    padding-top: 5%;
    display: flex;
    height: 50%;
    background-color: rgb(255, 81, 81);
    
    border-bottom: 20px rgba(0, 0, 255, 0) solid;
    justify-content: center;
    box-sizing: border-box;
}

.imgError{
    
    width: 25%;
    height: 90%;
}

.messageError {
    
    width: 100%;
    height: 10%;
    text-align: center;

    font-size: 15rem;
    padding-top: 5%;
}

.buttonVoltar{
    width: 100%;
    height: 30%;
    
    text-align: center;
}

#buttonVoltar{
    margin-top: 2vh;
    cursor: pointer;
    width: 45%;
    height: 50%;
    border-radius: 20px;
}
#buttonVoltar:hover{
    width: 47%;
    height: 52%;
    background-color: yellow;
}
.bck{
    width: 30px;
    height: 50px;
}
