.mainMidiaJogos{            
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;             
}

.containerMidiaJogos{                     
    min-height: 100vh;          
}
 
.pai{
    display: flex;
}

.coluna{
    flex-direction: column;
}

#tituloMidiaJogos{
    text-align: center; 
    font-size: 14rem;                       
}    

#galeriaImagensMidiaJogos{
    flex-grow: 1;  
    flex-wrap: wrap;  
    overflow: auto;
}
.imagemGaleriaMidiaJogos{
    width: 100%;
    height: 100%;
    object-fit: cover;       
}
#galeriaImagensMidiaJogos a{
    width: 30%;
    min-width: 15%;
    height: 30%;
    min-height: 15%;
    margin: 1%;
    border: 1px solid #0e9aa7;;
}
