.flex{
    flex-grow: 1;
}
.geral{
    font-size: 10em;
    margin-left: 10%;
    margin-right: 10%;
}
.titulo{
    background-color: #0e9aa7;      
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subTitulo{
    font-size: 0.8em;
}
.att{
    font-size: 0.7em;
}
.descricao{
    font-size: 20em;
}
.article{
    margin-left: 15%;
    margin-right: 15%;
}
.texto{
    font-size: 0.7em;
    line-height: 1.5;
}
.imagem{
    text-align: center;
}
.capa{
    width: auto;
    height: 500px;
}
hr{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom-color: #5df1ff;   
}