.flex{
    flex-grow: 1;
}
.geral{
    font-size: 10em;
    margin-left: 10%;
    margin-right: 10%;
}
.titulo{
    background-color: #0e9aa7;      
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subTitulo{
    font-size: 0.8em;
}
.att{
    font-size: 0.7em;
}
.descricao{
    font-size: 20em;
}
.article{
    margin-left: 5%;
    margin-right: 5%;
}
.teste{
    text-align: center;
}
.capa{
    width: auto;
    height: 500px;
}