.mainPerfilDeJogos{             
    flex-grow: 1;
    min-height: 100vh;                
}

.containerPerfilDeJogos{                  
    min-height: 100vh;          
}

.pai{
    display: flex;
}

.coluna{
    flex-direction: column;
}

.h-33PerfilDeJogos{
    height: 33vh;
} 
   
#tituloPerfilDeJogos{
    text-align: center; 
    font-size: 14rem;                      
}   
#tituloPerfilDeJogos a{
    text-decoration: none;
    color: black;
} 

#imagemJogoPerfilDeJogos{
    height: 34vh;
    width: 20vw;
    object-fit: scale-down;  
}

#informacoesPerfilDeJogos{
    font-size: 10rem;             
    border-radius: 25px;  
    max-height: 200px;
} 

#descricaoPerfilDeJogos{
    width: 100%;    
}
#sinopsePerfilDeJogos{
    height: 15vh;
    max-height: 15vh ;
    font-size: 10rem;  
    padding-top: 3vh; 
}
#imgJogo img{
    height: 200px;
    width: 170px;
    object-fit: scale-down;  
}

.caixaAnalisesJogo{
    background-color: rgba(143, 143, 143, 0.562);
    width: 100%;
    height: 95%;
    margin: auto;
    display: flex;
    overflow: auto;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);   

}

.conteudoCadaANalise{

    width: 25vw;
    min-width: 450px;
    height: 20vh;
    background-color: rgb(78, 99, 81);
    margin: auto 1%;
    display: flex;
    box-sizing: border-box;
    box-shadow:  2px 4px 0px rgba(0, 0, 0, 0.192);
    
}   
.linkDoPerfil{
    
    width: 30%;
    height:70%;
    border-radius: 50%;
    margin: auto 2%;
    

    background-color: white;    
    border: 6px rgb(57, 68, 55) solid ;
    padding: 1px;

}
.linkDoPerfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.tituloEConteudo{
    width: 62%;
    height: 90%;
    background-color: rgb(65, 78, 63);
    margin: auto 2%;
    display: block;
    box-sizing: border-box;
    border: 1px black solid;
}

.tituloDaCaixaAnalise{
    width: 100%;
    height: 17%;
    
    display: flex;
    align-items: center;
    border-bottom: 2px rgb(78, 99, 81) solid ;
    
    color: rgb(156, 156, 156);
    box-sizing: border-box;
    padding-left: 10px;
    

}

.analiseNota{
    margin-left: auto;
    font-size: 10rem;
    margin-top: 5%;

}
.imgEstrellinha{
    width: 5%;
    height: 60%;
    margin: 1%;
}
.conteudoDaCaixaAnalise{
    line-height: 17rem;
    width: 100%;
    height: 82%;
    margin: auto;
    padding: 10px;
    word-break: break-all;
    font-size: 10rem;
    color: rgb(151, 151, 151);
    overflow: auto;

}


/* .analise{
    background: white;
    width: 50%;
}

.analise ul{
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
}

.analise ul li{
    display: flex;
}
.center{
    align-items: center;
    border-bottom: 1px solid black;
}
.center img{
    margin-right: 20px; 
}

.flex{
    display: flex;
    padding-top: 5px;
    line-break: auto;
}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%;
}

#analise0PerfilDeJogos{
    font-size: 13rem;
    width: 100%;
    text-align: center;
    padding-top: 13vh;
} */