body {
    display: flex;  
    flex-direction: column;                
}   

header{  
    width: 100%;
    background: white;
} 

footer{  
    width: 100%;
    background: white;
} 

main{            
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;                
}

container{                  
    display: flex;
    min-height: 100vh;          
}

aside{
    height: 100vh;   
    border-radius: 25px;  
    font-size: 10rem; 
    text-align: center;                                                  
}

aside li{
    height: 10%; 
    list-style: none;                                         
}

aside ul{
    padding-inline-start: 0px;              
}

aside a{
    text-decoration: none;
    color: black;
}
h3{
    font-size: 14rem;
}

.pai{
    display: flex;
}

.h-33{
    height: 33vh;
} 

.h-50{
    height: 50vh;
}    

.compreAgora{            
    height: 50%;            
}

#titulo{
    text-align: center; 
    font-size: 14rem;                       
}    

#imagemJogo img{
    height: 34vh;
    width: 20vw;
}

#informacoes{
    font-size: 10rem;            
    border-radius: 25px;  
} 

#descricao{
    width: 100%;
}
#sinopse{
    height: 17vh;
}
