.mainPerfilDeJogos{             
    flex-grow: 1;
    min-height: 100vh;                
}

.containerPerfilDeJogos{                  
    min-height: 100vh;          
}

.pai{
    display: flex;
}

.coluna{
    flex-direction: column;
}

.h-33PerfilDeJogos{
    height: 33vh;
} 
   
#tituloPerfilDeJogos{
    text-align: center; 
    font-size: 14rem;                       
}    

#imagemJogoPerfilDeJogos img{
    height: 34vh;
    width: 20vw;
}

#informacoesPerfilDeJogos{
    font-size: 10rem;            
    border-radius: 25px;  
} 

#descricaoPerfilDeJogos{
    width: 100%;
}
#sinopsePerfilDeJogos{
    height: 15vh;
    font-size: 10rem;  
    padding-top: 3vh; 
}
#imgJogo img{
    height: 200px;
    width: 170px;
}