.mainProcurarJogos{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.asideProcurarJogos{
    height: 100vh;          
    align-items: center;
}

.asideProcurarJogos label{
    font-size: 10rem;
}

.pai{
    display: flex;
}

.coluna{
    flex-direction: column;
}

.paginasProcurarJogos{   
    width: 100%;    
    align-self: flex-end;     
} 

.paginasProcurarJogos li{    
    list-style: none;   
}

.paginasProcurarJogos li a{
    color: black;
    font-size: 10rem;
    padding: 8px 16px;
    text-decoration: none; 
}

.paginasProcurarJogos a.ativo {
    background-color: #0e9aa7;
    color: #e3e3e3;
    border-radius: 5px;
}

.paginasProcurarJogos a:hover:not(.ativo) {
    background-color: #9ee1e8;
    border-radius: 5px;
}

.jogosProcuraJogos{    
    width: 100%;      
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 3%;
    padding-top: 1%;
    flex-grow: 1;
}

.jogosProcuraJogos a{    
    width:  10vw;
    height: 25vh;
    margin-right: 5%;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);    
}
.jogosProcuraJogos img{    
    width:  10vw;
    height: 25vh;
    margin-right: 5%;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);    
}