.bloco-1{
    text-align: center;
    font-size: 14em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.bloco-1 h2,.bloco-2 h2{
    background-color: #0e9aa7;      
    border-radius: 30px;    
    width: 900px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
	box-shadow: 0.7vw 0.5vh 1vh grey;   
}

.pesquisa-ajuda{
    background-color: white;
    border: 1px solid black;
    margin: auto;
    width: 600px;
    border-radius: 30px;
    margin-top: 15px;
}

.txt-pesquisas{
    text-align: center;
    border-radius: 30px;
    border: none;
    height: 32px;
    width: 600px;
}

.bloco-2{
    text-align: center;
    font-size: 13em;
}

.populares{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    width: 940px;
    justify-content: space-between;
    margin: auto;
}

a{
    text-decoration: none;
}

.populares-div{
    border-radius: 50px;
    background: white; 
    width: 250px;
    height: 350px;
    padding: 15px;
    margin: 15px;
    border: 1px solid black; 
	box-shadow: 0.7vw 0.5vh 1vh grey;
    color: black;
}

.populares-div ul{
    padding: 0px;
}

.populares-div ul li{
    list-style: none;
    align-items: center;
}
