@font-face {
    font-family: 'Press Start 2P';
    src: url(/font/PressStart2P-Regular.ttf);
}

html{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    font-size: 6.25%;
}

*{
    text-decoration: none;    
    box-sizing: border-box;
    font-family: "PressStart2P";
    
}
/* ===================================================================== */
.navbar{
    background-color: #0E9AA7;
    margin: 0.5% auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 1px rgb(0, 0, 0);
    border-radius: 20px;
    width: 98%;
}
.navLogo{
    padding-left: 5px;
}
.navList{
    display: flex;
    list-style: none;
    padding:0px;
    justify-content: center;
}
.navFinal{
    display: flex;
}
.listaEntrar{
    display: flex;
    list-style: none;
    padding-left: 20px;
}
.listaEntrar li{
    padding-left: 10px;
    padding-right: 10px;
}

.navFinal-logado{
    display: flex;
    align-items: center;
}

.caixaLogin{
    box-sizing: border-box;
}

.listaInicio{
    margin-left: 7%;
    font-size: 15rem;
}

.listaInicio a {
    color: black;
    text-decoration: none;
}
.listaInicio a:hover {
    color: rgba(255, 255, 0, 0.836);
    text-decoration: none;
}
.btn-p{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    font-size: 15rem;
    color: black;
    margin-right: 12%;
}

/* ======================== USUARIO LOGADO ======================= */

.nome-usuario-logado {
    cursor: pointer;   
}

.caixaLogin-logado{
    margin-right: 45px;
    padding-top: 10px;
    padding-left: 20px;
    height: 100%;
    box-sizing: border-box;
}

.img-usuarioLogado {
    border: 2px solid rgb(157, 255, 0);
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    padding: 2px;
}

.caixaListaLogin{
    position:absolute;
    height: 24vh;
    width: 7%;
    min-width: 118px;
    margin-top: 1px;
    background-color: white;
    border: 2px rgb(145, 145, 145) solid;
    box-sizing: border-box;
    font-size: 16rem;
    display: none;    
}

.aparecer {
    display: block;
}

.caixaListaLogin ul{
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.caixaListaLogin ul a {
    text-decoration: none;
}

.caixaListaLogin-li{
    margin-top: 1.5%;
    border-bottom: 2px silver solid;
    display: block;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding-top: 10%;
}

.caixaListaLogin-li:hover{
    cursor: pointer;
    background-color: rgb(255, 251, 0);
    border-bottom: 2px rgb(67, 252, 10) solid;
}

.inputCaixaSair{
    width: 100%;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-family: 'Press Start 2P';
}

.inputCaixaSair:hover{
    background-color: yellow;
}

.caixaListaLogin-li-sair{
    border-bottom: 2px silver solid;
    display: block;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

.caixaListaLogin-li-sair:hover{
    background-color: yellow;
}

/* ========================== @MEDIA  ======================= */

@media (max-width: 1440px) {

    .listaInicio{
        font-size: 10rem;
    }
    #formPesquisar-input {
        width: 85%;
    }

    .btn-p {
        font-size: 13rem;
    }
  
}

@media (max-width: 1236px) {
    .btn-p {
        font-size: 9rem;
    }

    .divPesquisar {
        width: 7%;
    }

    #formPesquisar-input {
        width: 100%;
    }
    .divPesquisar {
        width: 9vw;
    }
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #0E9AA7;
    border-radius: 10px;
   
   
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0,0.25);
}

::-webkit-scrollbar-thumb{
    
    background-color: white;
 
}
::-webkit-scrollbar-thumb:hover{
    
    border-radius: 100px;
    background-color: white;
}