.coluna{
    flex-direction: column;  
}
.articleQuemSomos{
    text-align: justify;
    padding: 1%;
}
.articleQuemSomos p{
    font-size: 10rem;
    font-weight: 100;
}
.tituloQuemSomos{
    font-size: 16rem;
    font-weight: 700;
    text-align: center; 
}
.containerQuemSomos{
    justify-content: center;
}
.pai{
    display: flex;
}

