

html{
    box-sizing: border-box;
}

.bloco-geral{
    display: flex;
    font-size:  13em;
    margin-right: 10px;
    margin-left: 10px;
}
.bloco-1{
    width: 80%;
    margin-right: 30px;
    border-radius: 25px;
}
.promocao{
    background-color: #0E9AA7;
    box-shadow: 10px 5px 5px grey;
    border-radius: 25px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.img{
    width: 100px;
    height: 170px;
    margin: 10px;
}

/* height: auto; sera colocado no lugar do 200px quando tiver conteudo no destaque */
.destaque{
    background-color: #0E9AA7;
    box-shadow: 10px 5px 5px grey;
    border-radius: 25px;
    height: 200px; 
    display: flex;
    align-items: center;
    width: 100%;
}

.noticia{
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding-left: 10px;
}

.bloco-2{
    background-color: #0E9AA7;
    box-shadow: 10px 5px 5px grey;
    border-radius: 25px;
    width: 20%;
    margin-top: 45px;
}

.bloco-2 h3{
    background-color: white;
    text-align: center;
    border: 1px solid #0E9AA7;
    border-radius: 50px;
    
    margin-left: 5px;
    margin-right: 5px;
}    

.top-num{
    margin-right: 10px;
}
.article{
    padding-left:10px;
    padding-top: 10px;
}
.top-10{
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
}
.link{
    color: black;
    display: flex;
    text-decoration: none;
}