

html{
    box-sizing: border-box;
    line-height: 12px;
}

.bloco-geral{
    display: flex;
    font-size:  13em;
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
}
.bloco-1{
    width: 80%;
    margin-right: 30px;
    border-radius: 25px;
}
.bloco-1 .jogot{
    text-align: center;
}
.jogosHome{
    background-color: #0E9AA7;
    
    border-radius: 25px;
    height: auto;
    width: 100%;
    
    display: flex;
    border: 1px white solid;
    padding: 10px;  
    overflow-x: auto;
    
}
.jogosHome::-webkit-scrollbar{
    position: absolute ;
    height: 20px;
    background-color: #0E9AA7;
    border-radius: 10px;

}
::-webkit-scrollbar{
    width: 5px;
    background-color: #0E9AA7;
    border-radius: 10px;
   
   
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0,0.25);
}

::-webkit-scrollbar-thumb{
    
    border-radius: 20px;
    background-color: white;
 
}
::-webkit-scrollbar-thumb:hover{
    
    border-radius: 100px;
    background-color: white;

}
.caixaJogos{
    width: 40%;
    min-width: 700px;
    height: 33vh;
    position: absolute;
    display: none;
    border: 2px silver solid;
    border-radius: 20px;
    background-color: white;
      
    padding-bottom: 5px;

    transition: opacity 800ms;
}
.caixaJogos a {
    
    width: 33%;
    height: 32vh;
}
.caixaUm{
    height: 35.2vh;
    width: 53%;
    margin: 2% auto 0;
}
.aparecer{
    display: flex;
}
.jogosDestaque{
    height: 100%;
    display: flex;
    border: 2px silver solid;
    border-radius: 20px;
    background-color: white;
    margin-right: 10px;  
    padding-right: 5px;
    padding-bottom: 5px;
}
.jogosDestaque a {
    height: 30vh;
    width: 210px;
}

.imgJogos{
    width: 100%;
    height: 100%;
    margin: 2px;
    border-radius: 20px;
}
.imgJogos:hover{
    background-color: white;
    opacity: 0.5;
}

.conteudoJogos{
    
    width: 70%;

}
.conteudoJogos h1{
    margin-left: 5%;
    font-size: 15rem;
}
.conteudoJogos p{
    margin-left: 5%;
    font-size: 10rem;
}
.span{
    
    width: 90%;
    height: 65%;
    padding: 10px;
    text-align: center;
    text-justify: auto;
    margin: auto;
}
.span p{
    margin: 0;
   
}


.noticia p{
    overflow: hidden;
    max-height: 10ch;
    text-overflow: ellipsis;
}
.noticia{
    border: 1px solid black;
    width: 30%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: #fff;
    flex: 1;
}

.noticia button{
    background-color: #000;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
}
.btn-p{
    color: black;
    text-decoration: none;
}
.btn-w{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
}
.column{
    display: flex;
    justify-content: space-between;
}
.bloco-2{
    background-color: #0E9AA7;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 25px;
    width: 20%;
    margin-top: 45px;
}

.bloco-2 h3{
    background-color: white;
    text-align: center;
    border: 1px solid #0E9AA7;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}    

.top-10{
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    height: 97%;
    padding: 5px;
}

.lista{
    padding-left:10px;
    padding-top: 20px;
}

.link{
    color: black;
    display: flex;
    text-decoration: none;
}

.top-num{
    margin-right: 10px;
}