#tituloTermoUso{
    font-size: 16rem;
    font-weight: 700;
    text-align: center;
}

.articleTermouso{
    text-align: justify;
    padding: 1%;
}
.articleTermouso li{
    font-size: 10rem;
}
.containerTermouso{
    justify-content: center;
}
.pai{
    display: flex;
}
.coluna{
    flex-direction: column;
}