<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/analise.css">
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="pai">
        <div class="analise-div">
            <ul>
                <li>
                    <img src="/img/imagem-jogo">
                    <div class="opniao">
                        <label for="analise">Escreva a sua análise:</label>
                        <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                    </div>
                </li>
                <li>
                    <img src="/img/imagem-jogo">
                    <div class="opniao">
                        <label for="analise">Escreva a sua análise:</label>
                        <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                    </div>
                </li>
                <li>
                    <img src="/img/imagem-jogo">
                    <div class="opniao">
                        <label for="analise">Escreva a sua análise:</label>
                        <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                    </div>
                </li>
                <li>
                    <img src="/img/imagem-jogo">
                    <div class="opniao">
                        <label for="analise">Escreva a sua análise:</label>
                        <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                    </div>
                </li>
            </ul>
            <button><a href="" class="btn-add">+</a></button>
        </div>
        <div class="include-analise">
            <%- include('../users/usuario-include.ejs') %> 
        </div>
    </div>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>
</html>