<link rel="stylesheet" href="css/analise.css">
<div class="pai">
    <div class="analise-div">
        <ul>
            <li>
                <img src="imagem-jogo">
                <div class="opniao">
                    <label for="analise">Escreva a sua análise:</label>
                    <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                </div>
            </li>
            <li>
                <img src="imagem-jogo">
                <div class="opniao">
                    <label for="analise">Escreva a sua análise:</label>
                    <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                </div>
            </li>
            <li>
                <img src="imagem-jogo">
                <div class="opniao">
                    <label for="analise">Escreva a sua análise:</label>
                    <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                </div>
            </li>
            <li>
                <img src="imagem-jogo">
                <div class="opniao">
                    <label for="analise">Escreva a sua análise:</label>
                    <textarea id="analise" placeholder="A minha opnião sobre esse jogo é..."></textarea>
                </div>
            </li>
        </ul>
        <button><a href="">+</a></button>
    </div>
    <div class="iframe-analise">
        <iframe src="usuario.html" title="iFrameUsuario" class="iFrameUsuario"></iframe>
    </div>
</div>