<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/cadastrar.css">
        <title>Registre-se</title>

    </head>

    <body>
        <header>

        </header>

        <aside>

            <div class="containerRegistrar">

                <div class="fonteTopo">
                    <p>Inscreva-se</p>
                </div>

                <div class="caixaRegistro">
                    <form action="">

                        <label for="fregistrar" class="fonteGeral">E-mail: </label>
                        <input type="email" name="fregistrar" id="" class="inputRegistrar">

                        <label for="fregistrar" class="fonteGeral">Usuário: </label>
                        <input type="text" name="fname" id="" class="inputRegistrar">

                        <label for="fregistrar" class="fonteGeral">Senha: </label>
                        <input type="password" name="fregistrar" id="" class="inputRegistrar"> 
                        
                        <label for="fregistrar" class="fonteGeral">Re-senha </label>
                        <input type="password" name="fregistrar" id="" class="inputRegistrar">

                        <label for="fregistrar" class="fonteGeral">Data de Nascimento: </label>
                        <input type="date" name="fregistrar" id="" class="inputData ">

                        
                        <input type="checkbox" name="fregistrar" id="" class="checkBox">
                        <label for="fregistrar" class="inputCheck">“Eu li e concordo com os <a href=""> termos de uso </a>"</label>

                         <p class="fonteGeral">Ou</p>       
                        
                    </form>
                    
                </div>

                <div class="redes">
                    
                    <form action="">

                        <input type="image" src="resouces/facebookIcon.png" alt="" class="inputImagem">
                        <input type="image" src="resouces/gmailIcon.png" alt="" class="inputImagem">
                        <input type="image" src="resouces/twitterIcon.png" alt="" class="inputImagem">

                    </form>
                    
                </div>
                
                <div class="criar">

                    <form action="">
                        <input type="submit" value="Criar Conta">
                    </form>

                </div>

                
            </div>

        </aside>

        <footer>

        </footer>
        
    </body>

</html>