<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/cadastrar.css">
        <title>Registre-se</title>

    </head>

    <body>
        <header class="cad-header">
            <%- include('../home/header.ejs'); %>
        </header>

        <aside class="cad-aside">

            <div class="containerRegistrar">

                <div class="fonteTopo">
                    <p>Inscreva-se</p>
                </div>

                <div class="caixaRegistro">
                    <form action="/registrar" method="POST">

                        <div>

                            <label name="email" class="fonteGeral">E-mail: </label>
                            <input type="email" name="email" id="" class="inputRegistrar" required>

                        </div>

                        <div>

                            <label name="usuario" class="fonteGeral">Usuário: </label>
                            <input type="text" name="usuario" id="" class="inputRegistrar" required>

                        </div>

                        <div>

                            <label name="Senha" class="fonteGeral">Senha: </label>
                            <input type="password" name="Senha" id="" class="inputRegistrar" required> 

                        </div>

                        <div>

                            <label name="resenha" class="fonteGeral">Re-senha </label>
                            <input type="password" name="resenha" id="" class="inputRegistrar" required>

                        </div>

                        <div>

                            <input type="checkbox" name="checkBox" id="" class="checkBox" required>
                            <label name="checkBox" class="inputCheck">“Eu li e concordo com os <a href=""> termos de uso </a>"</label>

                        </div>
                        
                        <div>
                            <input type="submit" value="Criar Conta" class="cad-submit">
                        </div>
                        
                    </form>
                    
                </div>

            </div>

        </aside>

        <footer class="cad-footer">
            <%- include('../home/footer.ejs'); %>
        </footer>
        
    </body>

</html>