<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/login.css">
        <title>Document</title>

    </head>

    <body>

        <header class="login-header">
            <%- include('../home/header.ejs'); %>
        </header>

        <aside class="login-aside">
            <div class="loginContainer">

                <p class="loginText">LOGIN</p>

                <div class="caixaForm">
                    <form action="/login" method="POST">
                        <div class="caixainput">
                        <label for="email" class="textInput">email:</label>
                        <input type="email" name="email" class="caixaInput" autocomplete="off" required>
                        

                        <label for="senha" class="textInput">Senha:</label>
                        <input type="password" name="senha" class="caixaInput" autocomplete="off" required>
                            
                        </div>
                    <input type="submit" value="ENTRAR" class="inputSubmit"/>
                </div>

                <div class="aLink">

                    <a href="">esqueceu o usuário ?</a>
                    <a href=""> esqueceu a senha ?</a>

                </div>

                <div class="aText"> 
                  <a href="/registrar">inscrever-se</a>
                </div>
                   
                

            </div>

        </aside>
        
        <footer class="login-footer">
            <%- include('../home/footer.ejs'); %>
        </footer>
        
    </body>
</html>