<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/users/login.css">
        <title>Document</title>

    </head>

    <body>

        <header>

        </header>

        <aside>
            <div class="loginContainer">

                <p class="loginText">LOGIN</p>

                <div class="caixaForm">
                    <form action="">

                        <label for="" class="textInput">Usuario:</label>
                        <input type="text" name="flogin" class="caixaInput">

                        <label for="" class="textInput">Senha:</label>
                        <input type="password" name="flogin" class="caixaInput">

                        <p>Ou</p>

                        <input type="image" src="../../public/img/facebookIcon.png" alt="" class="inputImagem">
                        <input type="image" src="../../public/img/gmailIcon.png" alt="" class="inputImagem">
                        <input type="image" src="../../public/img/twitterIcon.png" alt="" class="inputImagem">
                    
                    </form>
                </div>

                <div>
                        <input type="submit" value="ENTRAR" class="inputSubmit">
                </div>

                <div class="aLink">

                    <a href="">esqueceu o usuário ?</a>
                    <a href=""> esqueceu a senha ?</a>

                </div>

                <div class="aText"> 
                  <a href="">inscrever-se</a>
                </div>
                   
                

            </div>

        </aside>
        
        <footer>

        </footer>
        
    </body>
</html>