<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/login.css">
        <title>Login</title>
        

    </head>

    <body>
        <div id="error"></div>
        <header class="login-header">
            <%- include('../home/header.ejs'); %>
        </header>

        
            <aside class="login-aside">
                <div class="loginContainer">
    
                    <p class="loginText">LOGIN</p>
    
                    <div class="caixaForm">
                        <form method="POST" id='formLogin'>
                            <div class="caixainput">
                            <label for="email" class="textInput">email:</label>
                            <input type="email" name="email" class="caixaInput" autocomplete="off" required id='email'>
                            
    
                            <label for="senha" class="textInput">Senha:</label>
                            <input type="password" name="senha" class="caixaInput" autocomplete="off" required id="senha">
                                
                            </div>
                            <botton value="ENTRAR" class="inputSubmit"><p>ENTRAR</p></botton>
                        </form>
                    </div>
    
                    <div class="aLink">
    
                        <a href="">esqueceu o usuário ?</a>
                        <a href=""> esqueceu a senha ?</a>
    
                    </div>
    
                    <div class="aText"> 
                      <a href="/registrar">inscrever-se</a>
                    </div>
                       
                    
    
                </div>
    
            </aside>

        
        <footer class="login-footer">
            <%- include('../home/footer.ejs'); %>
        </footer>
        
        <div id="error"></div>
        <script src="/js/home/login.js"></script>
    </body>
</html>