<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/users/meusJogos.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>

    <body>
        <header>
            <%- include('../home/header.ejs'); %>
        </header>

        <div class="paiFlex">

            <main class="mainContainer">

                <p class="tituloTexto">Meus Jogos</p>

                <div class="meusJogos">

                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>

                </div>

                <p class="tituloTexto">Lista de Desejo</p>

                <div class="listaDesejo">

                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    

                </div>

            </main>

            <aside class="containerPerfil">
                <%- include('../users/usuario-include.ejs'); %>
            </aside>

        </div>

        <footer>
            <%- include('../home/footer.ejs'); %>
        </footer>

    </body>

</html>