<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/css/users/meusJogos.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>

    <body>
        <header>

        </header>

        <div class="paiFlex">

            <main class="mainContainer">

                <p class="tituloTexto">Meus Jogos</p>

                <div class="meusJogos">

                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>

                </div>

                <p class="tituloTexto">Lista de Desejo</p>

                <div class="listaDesejo">

                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    <a href="">.</a>
                    

                </div>

            </main>

            <aside class="mainAside">

                <aside class="caixaPerfil">

                    <div class="caixaFoto">
                        
                    </div>
                    
                    <div class="caixaNick">
                        <p>@NICK</p>
                    </div>
    
                    <div class="caixaSobre">
                        <p>sobre mim</p>
    
                    </div>
    
                    <div class="listaPerfil">
                        
                            <a href="">Post</a>
                            <a href="">Análise</a></a>
                            <a href="">Midias</a>
                            <a href="">Jogos</a>
                        
                    </div>
    
                    <div class="sociais">

                        <a href="http://instagram.com"><img src="../../public/img/instagramIcon.png" alt=""></a>
                        <a href="http://www.twitter.com"><img src="../../public/img/twitterIcon.png" alt=""></a>
                        <a href="http://www.facebook.com"><img src="../../public/img/facebookIcon.png" alt=""></a>
                    
                    </div>

                </div>

            </aside>

        </div>

        <footer>

        </footer>

    </body>

</html>