<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/users/meusJogos.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MeusJogos</title>

    </head>

    <body>
        <header>
            <%- include('../home/header.ejs'); %>
        </header>
            <div class="botaoAddJogo">
                <img src="/img/addJogo.png" alt="" srcset="">
            </div>
            

        <div class="paiFlex">
           
            <main class="mainContainer">
                <div>
                    <%- include('../users/modals/addJogo-modal.ejs'); %>
                </div>
                <div class="boxContainer" >

                    <p class="tituloTexto" id="tituloJogos">Meus Jogos</p>

                    <div class="content" id="meusJogos">

                    </div>
                </div>

                <div class="boxContainer">

                    <p class="tituloTexto" id="tituloDesejos">Lista de Desejo</p>

                    <div class="content" id="meusDesejos">
                        
                    </div>

                </div>
            </main>

            <aside class="containerPerfil">
                <%- include('../users/usuario-include.ejs'); %>
            </aside>

        </div>

        <footer>
            <%- include('../home/footer.ejs'); %>
        </footer>
        <script src="/js/meusJogos.js"></script>
    </body>

</html>