<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/users/meusJogos.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>

    <body>
        <header>
            <%- include('../home/header.ejs'); %>
        </header>

        <div class="paiFlex">

            <main class="mainContainer">

                <p class="tituloTexto">Meus Jogos</p>

                <div class="meusJogos">

                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>

                </div>

                <p class="tituloTexto">Lista de Desejo</p>

                <div class="listaDesejo">

                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    <a href="/jogos/">.</a>
                    

                </div>

            </main>

            <aside class="mainAside">

                <aside class="caixaPerfil">

                    <div class="caixaFoto">
                        
                    </div>
                    
                    <div class="caixaNick">
                        <p>@NICK</p>
                    </div>
    
                    <div class="caixaSobre">
                        <p>sobre mim</p>
    
                    </div>
    
                    <div class="listaPerfil">
                        
                        <a href='/users/posts'>Post</a>
                        <a href='/users/analise'>Análise</a></a>
                        <a href='/users/midias'>Midias</a>
                        <a href="/users/meusjogos">Jogos</a>
                        
                    </div>
    
                    <div class="sociais">

                        <a href="http://instagram.com"><img src="/img/instagramIcon.png" alt=""></a>
                        <a href="http://www.twitter.com"><img src="/img/twitterIcon.png" alt=""></a>
                        <a href="http://www.facebook.com"><img src="/img/facebookIcon.png" alt=""></a>
                    
                    </div>

                </div>

            </aside>

        </div>

        <footer>
            <%- include('../home/footer.ejs'); %>
        </footer>

    </body>

</html>