<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/users/posts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Posts </title>

</head>

    <body>
        
        <header>
            <%- include('../home/header.ejs'); %>
        </header>
        <!-- MODAL DE ENVIAR POST -->
        <div>
            <%- include('../users/modals/post-modal-include.ejs'); %>
        </div>

        <img src="/img/addPost.png" alt="" class="addPost">

        <div class="paiFlex">

            <main class="containerMain">

                <div class="caixaTexto">

                    <p>Posts</p>

                </div>
                
            </main>

            <aside class="containerPerfil">

                <%- include('../users/usuario-include.ejs'); %>
                
            </aside>

        </div>       
        
        <footer>
            <%- include('../home/footer.ejs'); %>
        </footer>
        <script src="/js/posts.js"></script>
    </body>

</html>