<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/userMidia.css">
        <title>Midias</title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>

    <div class="includeModal">
        <%- include('../users/modals/midia-modal-include.ejs') %>
    </div>
    <div class="buttonAdd">
        <img src="/img/midiaAdd.png" alt="">
    </div>
    <div class="paiFlex">
        <main class="caixaMain">
            
            <div class="cxTitulo">
                
                <div class="titulo1">
                    <p>imagem</p>
                </div>
                <div class="titulo2">
                    <p>video</p>
                </div>
                
            </div>
            <div class="cxConteudo">
                <div class="conteudo1">
                    
                </div>
                <div class="conteudo2">

                </div>
            </div>       
            
        </main>

        <aside class="containerPerfil">
            <%- include('../users/usuario-include.ejs') %> 
        </aside>
        <script src="/js/users/userMidia.js"></script>
    </div>
    <footer>
            <%- include('../home/footer.ejs'); %>
    </footer>
</body>
</html>