<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/userMidia.css">
        <title>Midias</title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="paiFlex">
        <main class="caixaMain">
            <div class="caixaMidias">
                <div class="Mtitulo">
                    <span>Midias</span>
                </div>
            <div class="imgVideos">
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
                <a href="" class="cxVideo">.</a>
            </div>
           
            </div>
            
            
        </main>

        <aside class="containerPerfil">
            <%- include('../users/usuario-include.ejs') %> 
        </aside>
        
    </div>
    <footer>
            <%- include('../home/footer.ejs'); %>
    </footer>
</body>
</html>