<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/users/paginaUsuario.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <title>Usuario</title>
    </head>

    <body>

        <aside class="containerPerfil">

            <div class="caixaPerfil marginzero">

                <div class="caixaFoto">

                </div>

                <div class="caixaNick">

                    <p>@NICK</p>

                </div>

                <div class="caixaSobre">

                    <p>sobre mim</p>

                </div>

                <div class="listaPerfil">
                    
                        <a href="">Post</a>
                        <a href="">Análise</a></a>
                        <a href="">Midias</a>
                        <a href="">Jogos</a>
                    
                </div>

                <div class="sociais">

                    <a href="http://instagram.com"><img src="../../public/img/instagramIcon.png" alt=""></a>
                    <a href="http://www.twitter.com"><img src="../../public/img/twitterIcon.png" alt=""></a>
                    <a href="http://www.facebook.com"><img src="../../public/img/facebookIcon.png" alt=""></a>
                
                </div>


            </div>

        </aside>
        
    </body>

</html>