<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/paginaUsuario.css">

        <title>Usuario</title>
    </head>

    <body>
        <header class="user-header">
            <%- include('../home/header.ejs'); %>
        </header>

        <aside class="containerPerfil">

            <%- include('../users/usuario-include.ejs'); %>
            
        </aside>

        <footer class="user-footer">
            <%- include('../home/footer.ejs'); %>
        </footer>
        <!-- <script >

        const comErro = document.querySelector('[data-error="error"]').dataset.error
        console.log(comErro)
        
        // // const modalConfg = document.querySelector('.modalConfig')
        // if(comErro) { 
        //     modalConfg.style.display='block'
        // }
        </script> -->
    </body>

</html>