<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/usuario-include.css">

        <title>Usuario</title>
    </head>

    <body>
        

        <aside class="containerPerfil">

            <div class="caixaPerfil marginzero">

                <div class="caixaFoto">

                </div>

                <div class="caixaNick">

                    <p>@NICK</p>

                </div>

                <div class="caixaSobre">

                    <p>sobre mim</p>

                </div>

                <div class="listaPerfil">
                    
                        <a href='/users/posts'>Post</a>
                        <a href='/users/analise'>Análise</a></a>
                        <a href='/users/midias'>Midias</a>
                        <a href="/users/meusjogos">Jogos</a>
                    
                </div>

                <div class="sociais">

                    <a href="http://instagram.com"><img src="/img/instagramIcon.png" alt=""></a>
                    <a href="http://www.twitter.com"><img src="/img/twitterIcon.png" alt=""></a>
                    <a href="http://www.facebook.com"><img src="/img/facebookIcon.png" alt=""></a>
                
                </div>


            </div>

        </aside>

        
        
    </body>

</html>