body{
    background: #d5d5d5;  
}
.pai{
    display: flex;
}

.analise-div{
    width: 70%;
}

.analise-div ul{
    list-style: none;
}

.analise-div ul li{
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.analise-div ul li img{
    padding-right: 10px;
    width: 138px;
    height: 170px;
}

.iframe-analise{
    width: 30%;
    padding-left: 3%;
}

.opniao{
    width: 100%;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px grey;
    box-sizing: content-box;
    width: 100%;
    height: 120px;
    resize: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

.iFrameUsuario{
    height: 900px;
    width: 350px;
    border-radius: 30px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 60px;
}
button{
    border-radius: 50px;
    background-color: #0E9AA7;
    width: 100px;
    height: 100px;
    margin-left: 90%;
}
/**     formulario em construcao para o botao de adicionar **/
.form{
    box-sizing: border-box;
    background-color: #0E9AA7;
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
    width: 400px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
}


