header{
    height: 10vh;
    font-size: 15rem;
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
}
aside{
    height: 85vh;
    width: 20%;
    font-size: 10rem;
    margin: 0vw 2.5vw;
    font-weight: 300;
     
}
aside a{
    text-decoration: none;
    color: black;
}
aside li{
    list-style: none;       
}
main{
    width: 70%;
    height: 85vh;
    padding: 1%;
}
main label{
    font-size: 10rem;
}
main p{
    text-align: center;
}
section{
    margin: 1%;
}
body{
    min-height: 100vh;
}
input{
    margin: 0 1%;
}
.fundoCinzaClaro{
    background: #e3e3e3;
    border: 1px solid grey;
}
.fundoCinzaEscuro{
    background: #d5d5d5;
    border: 1px solid gray;
}
.pai{
    display: flex
}
.ativo{
    background: #9ee1e8;
    border-radius: 15px;    
}
.acessos{
    text-align: center;
}
.h-50{
    height: 45vh;
}
.h-30{
    height: 25vh;
}
#pesquisaUser{
    width: 50%;
}
