<div id="modal">
    <div class="boxModal">       
        <form class="formModal">

            <div class="contentJogo">
                <div class="labelJogo">
                    <label for="jogo">Jogo</label>
                </div>
                
                <div class="caixaSelecionarJogo">                  
                    
    
                    
                </div>
                <div class="butaoNext">
                     <img src="/img/next.png" alt="" class="next">
                     <img src="/img/close.png" alt="" class="close">
                </div>               
            </div>

            <div class="contentJogoFinal">
                <div class="selectJogo">
                    <div class="tituloSelect">
                        <p>Plataforma</p>
                    </div>
                    <div class="selectComOpcoes">
                        <select name="plataforma" id="plataformaJogo" required>
                            
                            
                        </select>
                    </div>
                    <div class="tenhoOuDesejo">
                        <div class="divTenho">
                            <input type="radio" name="escolha" id="tenho" value="SIM" class="inputTouD">
                            <label for="tenho" class='labelTenho' title="Add A Biblioteca"></label>
                        </div>
                       <div class="divDesejo">
                        <input type="radio" name="escolha" id="desejo" value="DESEJO" class="inputTouD">
                        <label for="desejo" class='labelDesejo' id="" title="Lista de DESEJO"></label>
                       </div>
                    </div>
                    <div class="enviarJogo">
                        <p id='BtnEnviar'>Salvar</p>

                    </div>
                    <div class="voltar"><img src="/img/back.png" alt="" class="imgVoltar"><img src="/img/close.png" alt="" class="close2"></div>

                </div>
                
            </div>
        </form>
    </div>
</div>