<div class="containerPai">
    <div class="modalAnalise">
        <img src="/img/close.png" alt="" class="imgModal">
        <form action="/users/analise" method="POST">
            <div class="tituloAnalise"> 
                                      
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" id="analiseInput"  placeholder="digite o titulo" maxlength="20" required>                    
            </div>
            <div class="areaAnalise">
                <textarea name="analise" id="textAnalise" cols="30" rows="10" placeholder="digite a analise com max 300caracters" maxlength="300" required></textarea>
            </div>
                <div>
                    <select name="idJogo" id="selecJogo" required>                       
                    
                    </select>
                </div>
                    <div class="cxRadio">
                        <p>nota</p>
                        <input type="radio" name="nota" id="" value="1" required> 
                        <label for="name">1</label>
                        
                        <input type="radio" name="nota" id="" value="2"> 
                        <label for="name">2</label>
                        
                        <input type="radio" name="nota" id="" value="3"> 
                        <label for="">3</label>
                        
                        <input type="radio" name="nota" id="" value="4"> 
                        <label for="name">4</label>
                        
                        <input type="radio" name="nota" id="" value="5"> 
                        <label for="name">5</label>
                </div>
                <input type="submit" value="SEND" class="analiseSubmit">
            
        </form>
    </div>

</div>