<div class="containerPai">
    <div class="modalAnalise">
        <img src="/img/close.png" alt="" class="imgModal">
        <form action="">
            <div class="tituloAnalise"> 
                                      
                <label for="">Titulo</label>
                <input type="text" name="" id="analiseInput">                    
            </div>
            <div class="areaAnalise">
                <textarea name="" id="textAnalise" cols="30" rows="10"></textarea>
            </div>
                <div>
                    <select name="" id="selecJogo">
                        <option value="">jogo</option>
                    </select>
                </div>
                    <div class="cxRadio">
                        <p>nota</p>
                        <input type="radio" name="nota" id="" value="1"> 
                        <label for="name">1</label>
                        
                        <input type="radio" name="nota" id="" value="2"> 
                        <label for="name">2</label>
                        
                        <input type="radio" name="nota" id="" value="3"> 
                        <label for="">3</label>
                        
                        <input type="radio" name="nota" id="" value="4"> 
                        <label for="name">4</label>
                        
                        <input type="radio" name="nota" id="" value="5"> 
                        <label for="name">5</label>
                </div>
                <input type="submit" value="SEND" class="analiseSubmit">
            
        </form>
    </div>

</div>