<main class="areaAnalise">

    <div class="analise">
        <img src="a" alt="" class="imagemAnalise">
        <div class="titulo-Analise">
            <div class="tituloA">
                <p> TITULOOOOOO</p>
            </div>
            <div class="spanA">
                <span>ssdsdssssdsd</span>
            </div>
        </div>
    </div>

</main>