<div class="areaAnalise2">
    <% analises.forEach(a => { %>
    <div class="analise">
        <div class="imagemAnalise">
            <img src="" alt="">
        </div>
        <div class="titulo-Analise">
            <div class="tituloA">
                <p> <%=a.titulo%></p>
                <div class="nota">
                    <p>Nota:<%=a.nota%></p>
                </div>
            </div>
            <div class="spanA">
                <span><%=a.analise%></span>
            </div>
            <div class="dataPost"><p>Data: <%=a.createdAt%> </p></div>
        </div>
    </div>
    <%})%>
</div>