<div class="containerPai">
    <div class="cxModal">
     <div class="cxtitulo">
        <div class="closeButtom"><p>X</p></div>
         <div class="t-one"><p>imagem</p></div>
         <div class="t-two"><p>video</p></div>
         
     </div>
         <div class="imagemModal">           
             <div class="divImg">
                 <img src="." alt="">
             </div>
         <div class="cxImagem">
             <form action="/users/midias" method="POST" name="IMAGEM">
                 <label for="url">Link da Imagem</label>
                 <input type="url" name="url"  class="url">
                 <select name="selectJogo" class="selectJogo">
                     
                 </select>
                 <input type="radio" name="tipo"  style="display: none;" value="IMAGEM" checked>
                 <input type="submit" id="modalSend" value="ENVIAR">
             </form>
         </div>
         </div>
         <div class="videoModal">           
            <div class="cxVideo">
                <form action="/users/midias" method="POST" name="VIDEO">
                    <label for="url">Link da video</label>
                    <input type="url" name="url" id="" class="url">
                    <select name="selectJogo" class="selectJogo2">
                    
                    </select>
                    <input type="radio" name="tipo" id="" style="display: none;" value="VIDEO" checked>
                    <input type="submit" id="modalSend" value="ENVIAR">
                </form>
            </div>
         </div>
     </div>