<div class="containerPai">
    <div class="cxModal">
     <div class="cxtitulo">
        <div class="closeButtom"><p>X</p></div>
         <div class="t-one"><p>imagem</p></div>
         <div class="t-two"><p>video</p></div>
         
     </div>
         <div class="imagemModal">           
             <div class="divImg">
                 <img src="." alt="">
             </div>
         <div class="cxImagem">
             <form action="">
                 <label for="url">Link da Imagem</label>
                 <input type="url" name="url" id="" class="url">
                 <select name="selectJogo" id="selectJogo">
                     <option value="Jogo">Jogo</option>
                 </select>
                 <input type="submit" name="modalSend" id="modalSend" value="SEND">
             </form>
         </div>
         </div>
         <div class="videoModal">           
            <div class="cxVideo">
                <form action="">
                    <label for="url">Link da video</label>
                    <input type="url" name="url" id="" class="url">
                    <select name="selectJogo" id="selectJogo">
                        <option value="Jogo">Jogo</option>
                    </select>
                    <input type="submit" name="modalSend" id="modalSend" value="SEND">
                </form>
            </div>
         </div>
     </div>