<div class="showBox"> 
    <a href="">
        <form action="/users"><button type="submit">x</button></form>
        <div class="imgJogo"><img src="" alt="" srcset="" /></div>
        <div class="nomeJogo"><p>league of legends</p></div>
    </a>
</div> 