<div class="caixaPosts">
    <div class="postTitulo"> 
        <p>titulo</p>
    </div>
    
    <div class="areaPost">
        <span > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo magna, semper at lorem quis, convallis imperdiet dui. Sed euismod enim a commodo pretium. Phasellus urna risus, accumsan ut porta eu, euismod in felis. Pellentesque at 
        </span>
        
    </div>
    <button class="deletButtom" >X</button>
</div>