<div class="modalPost">
    <div class=" formPost">     
    <form method="POST" >
        <div class="divTitulo">
            <input type="text" name="tituloPost" id="tituloPost" placeholder= "Digite o titulo" class="inputTitulo" autocomplete="off">
        </div>
    <textarea name="userPost" id="userPost" cols="30" rows="10" placeholder="DIGITE SEU POST AQUI com max 300 caracters" class="textareaPost" autocomplete="off" maxlength="300"></textarea>
        </form>
        <div class="sendClose">
            <button type="submit" class="inputPost"><p>Save</p></button>
            <img src="/img/close.png" alt="" class="closeButton">
        </div>
    
</div>   
</div>

