<div class="modalPost">
            
    <form action="/users/posts" method="POST" class=" formPost">
        <div class="divTitulo">
            <input type="text" name="tituloPost" id="" placeholder= "Digite o titulo" class="inputTitulo" autocomplete="off">
        </div>
    <textarea name="userPost" id="" cols="30" rows="10" placeholder="DIGITE SEU POST AQUI com max 1000 caracters" class="textareaPost" autocomplete="off"></textarea>
        <div class="sendClose">
            <input type="submit" value="SEND" class="inputPost">
            <img src="/img/close.png" alt="" class="closeButton">
        </div>
    </form>

</div>